[Desktop Entry]
Type=Service
Icon=system-run
Name=RunScript
Name[bs]=PokreniSkriptu
Name[ca]=ExecutaScript
Name[ca@valencia]=ExecutaScript
Name[cs]=Spustit skript
Name[da]=RunScript
Name[de]=Skript ausführen
Name[el]=Εκτέλεση δέσμης εντολών
Name[en_GB]=RunScript
Name[es]=Ejecutar script
Name[et]=Skriptikäivitaja
Name[fr]=Lancement de script
Name[gl]=RunScript
Name[hr]=Pokreni skriptu
Name[hu]=RunScript
Name[it]=Esegui script
Name[ja]=スクリプトの実行
Name[km]=រត់​ស្គ្រីប
Name[lv]=Skriptu palaidējs
Name[nb]=RunScript
Name[nds]=Skript utföhren
Name[nl]=RunScript
Name[nn]=Køyr skript
Name[pa]=ਰਨਸਕ੍ਰਿਪਟ
Name[pl]=Uruchamianie skryptu
Name[pt]=Execução do Programa
Name[pt_BR]=Execução de scripts
Name[ru]=Запуск сценария
Name[sl]=Zaženi skript
Name[sv]=Kör skript
Name[th]=ให้สคริปต์ทำงาน
Name[tr]=Betiği Çalıştır
Name[uk]=Виконати скрипт
Name[x-test]=xxRunScriptxx
Name[zh_CN]=运行脚本
Name[zh_TW]=執行文稿
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_runscriptassistant
X-KDE-PluginInfo-Name=RunScript
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant for running an external Script file
Comment[ca]=Un assistent per executar un fitxer d'script extern
Comment[ca@valencia]=Un assistent per executar un fitxer d'script extern
Comment[cs]=Pomocník pro spouštění externího skriptu
Comment[da]=En assistent til at køre en ekstern script-fil
Comment[de]=Ein Assistent zum Ausführen externer Skript-Dateien
Comment[el]=Ένα βοηθητικό πλαίσιο διαλόγου για την εκτέλεση ενός εξωτερικού αρχείου δέσμης εντολών.
Comment[en_GB]=An Assistant for running an external Script file
Comment[es]=Un asistente para ejecutar un archivo de script externo
Comment[et]=Välise skriptifaili käivitamise abiline
Comment[fr]=Un assistant permettant de lancer un fichier de script externe
Comment[gl]=Un asistente para executar un ficheiro de script externo
Comment[it]=Un assistente che esegue file con script
Comment[ja]=外部のスクリプトファイルを実行するウィザード
Comment[km]=ប្រអប់​ជំនួយ​សម្រាប់​រត់​ឯកសារ​ស្គ្រីប​ខាង​ក្រៅ
Comment[lv]=Palīgs ārējo skriptu failu palaišanai
Comment[nb]=En assistent for å kjøre en ekstern skriptfil
Comment[nds]=En Hölper för't Utföhren vun extern Skriptdateien
Comment[nl]=Een assistent voor het draaien van een extern scriptbestand
Comment[nn]=Eit hjelpevindauge for køyring av eksterne skriptfiler
Comment[pl]=Asystent do uruchamiania zewnętrznych plików z skryptami
Comment[pt]=Uma janela assistente para executar um programa externo
Comment[pt_BR]=Um assistente para executar um arquivo de script externo
Comment[ru]=Мастер запуска сценариев
Comment[sl]=Pomočnik za zaganjanje zunanjih skriptov
Comment[sv]=En guide för att köra en extern skriptfil
Comment[tr]=Harici betik çalıştırma penceresi
Comment[uk]=Помічник для запуску зовнішнього скриптового файла
Comment[x-test]=xxAn Assistant for running an external Script filexx
Comment[zh_CN]=用于运行外部脚本文件的助手
Comment[zh_TW]=執行外部文稿檔的小助手
RequiredExtensions=ScriptExtension
