[Desktop Entry]
Type=Service
Icon=system-run
Name=RunScript
Name[es]=Ejecutar script
Name[fr]=RunScript
Name[pt]=Execução de Programas
Name[sv]=Kör skript
Name[tr]=Betik Çalıştır
Name[uk]=Виконати скрипт
Name[x-test]=xxRunScriptxx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_runscriptassistant
X-KDE-PluginInfo-Name=RunScript
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant for running an external Script file
Comment[es]=Un diálogo asistente para ejecutar un archivo externo de script
Comment[fr]=Un assistant pour le lancement d'un fichier script externe
Comment[pt]=Uma janela assistente para executar um programa externo
Comment[sv]=En guide för att köra en extern skriptfil
Comment[tr]=Dış betik dosyası çalıştırmak için bir yardımcı
Comment[uk]=Помічник для запуску зовнішнього скриптового файла
Comment[x-test]=xxAn Assistant for running an external Script filexx
RequiredExtensions=ScriptExtension
