[Desktop Entry]
Type=Service
Icon=system-run
Name=RunScript
Name[pt]=Execução do Programa
Name[sv]=Kör skript
Name[tr]=Betik Çalıştır
Name[uk]=Виконати скрипт
Name[x-test]=xxRunScriptxx
X-KDE-ServiceTypes=MathematiK/Assistant
X-KDE-Library=mathematik_runscriptassistant
X-KDE-PluginInfo-Name=RunScript
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant for running an external Script file
Comment[pt]=Um assistente para executar um programa externo
Comment[pt_BR]=Um assistente para executar um arquivo de script externo
Comment[sv]=En guide för att köra en extern skriptfil
Comment[tr]=Dış betik dosyası çalıştırmak için bir yardımcı
Comment[uk]=Помічник для запуску зовнішнього скриптового файла
Comment[x-test]=xxAn Assistant for running an external Script filexx
RequiredExtensions=ScriptExtension
