<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cantor_invertmatrix_assistant" version="1">
<MenuBar>
  <Menu name="linear_algebra"><text>&amp;Linear Algebra</text>
    <Action name="invertmatrix_assistant"/>
  </Menu>
</MenuBar>
</kpartgui>
