[Desktop Entry]
Type=Service
Name=Invert Matrix
Name[ca]=Inverteix matriu
Name[pt]=Inverter a Matriz
Name[pt_BR]=Inverter matriz
Name[uk]=Знайти обернену матрицю
Name[x-test]=xxInvert Matrixxx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_invertmatrixassistant
X-KDE-PluginInfo-Name=Create Matrix
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify inverting of matrices
Comment[ca]=Un diàleg assistent per simplificar la inversió de matrius
Comment[pt]=Uma janela assistente que simplifica a inversão das matrizes
Comment[pt_BR]=Um diálogo assistente para simplificar a inversão de matrizes
Comment[uk]=Діалогове вікно помічника обчислення оберненої матриці
Comment[x-test]=xxAn Assistant dialog to simplify inverting of matricesxx
RequiredExtensions=LinearAlgebraExtension,HistoryExtension
