[Desktop Entry]
Type=Service
Name=Invert Matrix
Name[bs]=Invertuj matricu
Name[ca]=Inverteix matriu
Name[ca@valencia]=Inverteix matriu
Name[cs]=Invertovat matici
Name[da]=Invertér matrix
Name[de]=Matrix invertieren
Name[el]=Αντιστροφή μητρώου
Name[en_GB]=Invert Matrix
Name[es]=Invertir matriz
Name[et]=Pöördmaatriks
Name[fi]=Käännä matriisi
Name[fr]=Inversion de matrices
Name[gl]=Inverter matriz
Name[hr]=Invertiraj matricu
Name[it]=Matrice inversa
Name[ja]=逆行列
Name[km]=ម៉ាទ្រីស​ច្រាស
Name[lv]=Invertēt matricu
Name[nb]=Inverter matrise
Name[nds]=Matrix ümdreihen
Name[nl]=Inverteer matrix
Name[nn]=Inverter matrise
Name[pl]=Odwracanie macierzy
Name[pt]=Inverter a Matriz
Name[pt_BR]=Inverter matriz
Name[ru]=Обращение матрицы
Name[sl]=Obrni matriko
Name[sv]=Invertera matris
Name[tr]=Ters Matris
Name[ug]=تەتۈر ماترىتسا
Name[uk]=Знайти обернену матрицю
Name[x-test]=xxInvert Matrixxx
Name[zh_CN]=逆矩阵
Name[zh_TW]=逆矩陣
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_invertmatrixassistant
X-KDE-PluginInfo-Name=Create Matrix
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify inverting of matrices
Comment[ca]=Un diàleg assistent per simplificar la inversió de matrius
Comment[ca@valencia]=Un diàleg assistent per simplificar la inversió de matrius
Comment[cs]=Pomocný dialog pro zjednodušení invertování matice
Comment[da]=En hjælpedialog til at gøre invertering af matricer lettere
Comment[de]=Ein Assistent, um das Invertieren von Matrizen zu vereinfachen
Comment[el]=Ένα βοηθητικό πλαίσιο διαλόγου για την απλοποίηση της αντιστροφής των μητρώων.
Comment[en_GB]=An Assistant dialogue to simplify inverting of matrices
Comment[es]=Un diálogo asistente para simplificar la inversión de matrices
Comment[et]=Maatriksite inverteerimist lihtsustav abiline
Comment[fr]=Une boîte de dialogue d'assistant simplifiant l'inversion de matrices
Comment[gl]=Un diálogo auxiliar para simplificar a inversión de matrices
Comment[it]=Un assistente per semplificare l'inversione di matrici
Comment[ja]=逆行列の計算を手助けするウィザード
Comment[km]=ប្រអប់​ជំនួយ​ដែល​ធ្វើ​ឲ្យ​ងាយ​ស្រួល​ក្នុង​ការ​ដាក់​​ម៉ាទ្រីស​បញ្ច្រាស
Comment[lv]=Palīga dialoglogs matricu invertēšanas vienkāršošanai
Comment[nb]=En assistentdialog som gjør det enklere å invertere matriser
Comment[nds]=En Hülpdialoog för't Ümdreihen vun Matizen
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het inverteren van matrices
Comment[nn]=Eit hjelpevindauge for invertering av matriser
Comment[pl]=Okno dialogowe asystenta pomagające uprościć odwracanie macierzy
Comment[pt]=Uma janela assistente que simplifica a inversão das matrizes
Comment[pt_BR]=Um diálogo assistente para simplificar a inversão de matrizes
Comment[ru]=Диалоговое окно, упрощающее обращение матрицы
Comment[sl]=Pomočnik, ki poenostavi obračanje matrik
Comment[sv]=En dialogruta med en guide för att förenkla invertering av matriser
Comment[tr]=Ters matris almayı kolaylaştıran yardımcı pencere
Comment[uk]=Діалогове вікно помічника обчислення оберненої матриці
Comment[x-test]=xxAn Assistant dialog to simplify inverting of matricesxx
Comment[zh_CN]=用于简化逆矩阵计算的助手对话框
Comment[zh_TW]=簡化計算逆矩陣的小助手對話框
RequiredExtensions=LinearAlgebraExtension,HistoryExtension
