[Desktop Entry]
Type=Service
Name=Invert Matrix
Name[pt]=Inverter a Matriz
Name[pt_BR]=Inverter matriz
Name[sv]=Invertera matris
Name[uk]=Знайти обернену матрицю
Name[x-test]=xxInvert Matrixxx
X-KDE-ServiceTypes=MathematiK/Assistant
X-KDE-Library=mathematik_invertmatrixassistant
X-KDE-PluginInfo-Name=Create Matrix
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify inverting of matrices
Comment[pt]=Uma janela assistente para simplificar a inversão de matrizes
Comment[sv]=En dialogruta med en guide för att förenkla invertering av matriser
Comment[uk]=Діалогове вікно помічника обчислення оберненої матриці
Comment[x-test]=xxAn Assistant dialog to simplify inverting of matricesxx
RequiredExtensions=LinearAlgebraExtension,HistoryExtension
