[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/PanelPlugin
Comment=A Plugin for Cantor's Panel
Comment[x-test]=xxA Plugin for Cantor's Panelxx

[PropertyDef::RequiredExtensions]
Type=QStringList
