[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/Assistant
Comment=An Assistant for Cantor

[PropertyDef::RequiredExtensions]
Type=QStringList
