[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/PanelPlugin
Comment=A Plugin for Cantor's Panel
Comment[ca]=Un endollable per al panell del Cantor
Comment[en_GB]=A Plugin for Cantor's Panel
Comment[es]=Un complemento para el panel de Cantor
Comment[et]=Cantori paneeli plugin
Comment[ja]=Cantor のパネルのプラグイン
Comment[nds]=En Moduul för't Cantor-Paneel
Comment[nl]=Een plugin voor het paneel van Cantor
Comment[pt]=Um 'Plugin' para o Painel do Cantor
Comment[pt_BR]=Um plug-in para o painel do Cantor
Comment[sv]=Ett insticksprogram för Cantors panel
Comment[uk]=Додаток панелі Cantor
Comment[x-test]=xxA Plugin for Cantor's Panelxx
Comment[zh_TW]=Cantor 的面板外掛程式

[PropertyDef::RequiredExtensions]
Type=QStringList
