[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/Backend
Comment=A Backend for Cantor
Comment[ca]=Un dorsal per al Cantor
Comment[en_GB]=A Backend for Cantor
Comment[es]=Un motor para Cantor
Comment[et]=Cantori taustaprogramm
Comment[gl]=Unha infraestrutura para Cantor
Comment[it]=Un motore R per Cantor
Comment[nb]=En bakgrunnsmotor for Cantor
Comment[nl]=Een backend voor Cantor
Comment[pt]=Uma Infra-Estrutura para o Cantor
Comment[pt_BR]=Uma infraestrutura para o Cantor
Comment[sv]=Ett bakgrundsprogram för Cantor
Comment[tr]=Bir Cantor arka ucu
Comment[uk]=Сервер Cantor
Comment[x-test]=xxA Backend for Cantorxx
Comment[zh_CN]=Cantor 后端
Comment[zh_TW]=Cantor 後端介面
