[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/Assistant
Comment=An Assistant for Cantor
Comment[pt]=Um assistente para o Cantor
Comment[sv]=En guide för Cantor
Comment[uk]=Помічник Cantor
Comment[x-test]=xxAn Assistant for Cantorxx

[PropertyDef::RequiredExtensions]
Type=QStringList
