[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Cantor/PanelPlugin
Comment=A Plugin for Cantors Panel
Comment[x-test]=xxA Plugin for Cantors Panelxx

[PropertyDef::RequiredExtensions]
Type=QStringList
