[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=MathematiK/Assistant
Comment=An Assistant for MathematiK
Comment[pt]=Um assistente para o MathematiK
Comment[sv]=En guide för Matematik
Comment[tr]=MathematiK için bir yardımcı
Comment[uk]=Помічник MathematiK
Comment[x-test]=xxAn Assistant for MathematiKxx

[PropertyDef::RequiredExtensions]
Type=QStringList
