[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=MathematiK/Backend
Comment=A Backend for MathematiK
Comment[et]=MathematiKi taustaprogramm
Comment[pt]=Uma infra-estrutura para o MathematiK
Comment[pt_BR]=Uma infraestrutura para o MathematiK
Comment[sv]=Ett bakgrundsprogram för Matematik
Comment[uk]=Сервер MathematiK
