[Desktop Entry]
Type=Service
Name=Create Matrix
Name[pt]=Criar uma Matriz
Name[pt_BR]=Criar matriz
Name[sv]=Skapa matris
Name[uk]=Створити матрицю
Name[x-test]=xxCreate Matrixxx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_creatematrixassistant
X-KDE-PluginInfo-Name=Create Matrix
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify entering of matrices
Comment[pt]=Uma janela assistente para simplificar a introdução de matrizes
Comment[sv]=En dialogruta med en guide för att förenkla inmatning av matriser
Comment[uk]=Діалогове вікно помічника введення матриць
Comment[x-test]=xxAn Assistant dialog to simplify entering of matricesxx
RequiredExtensions=LinearAlgebraExtension
