[Desktop Entry]
Type=Service
Name=Create Matrix
Name[ca]=Crea matriu
Name[en_GB]=Create Matrix
Name[et]=Maatriksi loomine
Name[nl]=Matrix aanmaken
Name[pt]=Criar uma Matriz
Name[pt_BR]=Criar matriz
Name[sv]=Skapa matris
Name[uk]=Створити матрицю
Name[x-test]=xxCreate Matrixxx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_creatematrixassistant
X-KDE-PluginInfo-Name=Create Matrix
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify entering of matrices
Comment[ca]=Un diàleg assistent per simplificar la introducció de matrius
Comment[en_GB]=An Assistant dialogue to simplify entering of matrices
Comment[et]=Maatriksite sisestamist lihtsustav abiline
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het invoeren van matrices
Comment[pt]=Uma janela assistente que simplifica a introdução de matrizes
Comment[pt_BR]=Um diálogo assistente para simplificar a digitação de matrizes
Comment[sv]=En dialogruta med en guide för att förenkla inmatning av matriser
Comment[uk]=Діалогове вікно помічника введення матриць
Comment[x-test]=xxAn Assistant dialog to simplify entering of matricesxx
RequiredExtensions=LinearAlgebraExtension
