[Desktop Entry]
Type=Service
Name=KAlgebra
Name[bg]=KAlgebra
Name[ca]=KAlgebra
Name[ca@valencia]=KAlgebra
Name[cs]=KAlgebra
Name[csb]=KAlgebra
Name[da]=KAlgebra
Name[de]=KAlgebra
Name[el]=KAlgebra
Name[en_GB]=KAlgebra
Name[eo]=KAlgebra
Name[es]=KAlgebra
Name[et]=KAlgebra
Name[eu]=KAlgebra
Name[fi]=KAlgebra
Name[fr]=KAlgebra
Name[ga]=KAlgebra
Name[gl]=KAlgebra
Name[gu]=KAlgebra
Name[he]=KAlgebra
Name[hi]=के-अलजेब्रा
Name[hne]=के-अलजेब्रा
Name[hu]=KAlgebra
Name[is]=KAlgebra
Name[it]=KAlgebra
Name[ja]=KAlgebra
Name[km]=KAlgebra
Name[ko]=KAlgebra
Name[lt]=KAlgebra
Name[lv]=KAlgebra
Name[ml]=കെ-ആള്‍ജിബ്ര
Name[nb]=KAlgebra
Name[nds]=KAlgebra
Name[ne]=केडीई बीजगणित
Name[nl]=KAlgebra
Name[nn]=KAlgebra
Name[pa]=ਕੇ-ਐਲਜਬਰਾ
Name[pl]=KAlgebra
Name[pt]=KAlgebra
Name[pt_BR]=KAlgebra
Name[ro]=KAlgebra
Name[ru]=KAlgebra
Name[si]=KAlgebra
Name[sl]=KAlgebra
Name[sv]=Kalgebra
Name[tr]=KAlgebra
Name[uk]=KАлгебра
Name[x-test]=xxKAlgebraxx
Name[zh_CN]=KAlgebra
Name[zh_TW]=KAlgebra
Icon=kalgebra
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_kalgebrabackend
X-KDE-PluginInfo-Name=kalgebrabackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://edu.kde.org/kalgebra
Comment=KAlgebra backend for Cantor. Lets you use the same language you use in the KAlgebra application in Cantor worksheets.
Comment[ca]=Dorsal de KAlgebra per al Cantor. Us permet utilitzar als fulls de treball del Cantor el mateix llenguatge que feu servir a l'aplicació KAlgebra.
Comment[ca@valencia]=Dorsal de KAlgebra per al Cantor. Vos permet utilitzar als fulls de treball del Cantor el mateix llenguatge que feu servir a l'aplicació KAlgebra.
Comment[da]=KAlgebra-backend til Cantor. Lader dig bruge de samme sprog som du bruger i programmet KAlgebra i Cantor-arbejdsark.
Comment[en_GB]=KAlgebra backend for Cantor. Lets you use the same language you use in the KAlgebra application in Cantor worksheets.
Comment[es]=Motor KAlgebra para Cantor. Le permite usar el mismo lenguaje que utiliza con la aplicación KAlgebra en las hojas de ejercicios de Cantor.
Comment[et]=Cantori KAlgebra taustaprogramm. Võimaldab kasutada Cantori töölehtedel sama keelt, mida kasutab rakendus KAlgebra.
Comment[fr]=Module KAlgebra pour Cantor. Il vous permet d'utiliser le langage KAlgebra dans les documents de travail de Cantor.
Comment[gl]=Infraestrutura de KAlgebra para Cantor. Permite empregar a mesma linguaxe que na aplicación KAlgebra nas fichas de Cantor.
Comment[it]=Motore KAlgebra per Cantor. Permette di usare in Cantor lo stesso linguaggio usato in KAlgebra.
Comment[nb]=KAlgebra bakgrunnsmotor for Cantor. Gjør at samme språk som brukes i programmet KAlgebra kan brukes i Cantor arbeidsark.
Comment[nl]=Kalgebra backend voor Cantor. Het laat u dezelfde taal als in Kalgebra gebruiken in Cantor-werkbladen.
Comment[nn]=KAlgebra-motor for Cantor. Lèt deg bruka same språket som du brukar i KAlgebra-programmet i Cantor-arbeidsark.
Comment[pt]=Infra-estrutura do KAlgebra para o Cantor. Permite-lhe usar a mesma linguagem que usa na aplicação KAlgebra, nas folhas de cálculo do Cantor.
Comment[pt_BR]=Infraestrutura do KAlgebra para o Cantor. Permite-lhe usar a mesma linguagem usada no aplicativo KAlgebra, nas planilhas do Cantor.
Comment[sv]=Kalgebra bakgrundsprogram för Cantor. Låter dig använda samma språk i Cantors arbetsblad som i programmet Kalgebra.
Comment[uk]=Сервер KAlgebra для Cantor. Надає вам змогу використовувати мову команд програми KAlgebra на робочих аркушах Cantor.
Comment[x-test]=xxKAlgebra backend for Cantor. Lets you use the same language you use in the KAlgebra application in Cantor worksheets.xx
Comment[zh_CN]=KAlgebra 的 Cantor 后端。可供您在 Cantor 工作表里使用和 KAlgebra 一致的语言。
Comment[zh_TW]=KAlgebra 的 Cantor 後端介面。讓您使用與在 KAlgebra 應用程式中的 Cantor 工作表中相同的語言。
