[Desktop Entry]
Type=Service
Name=KAlgebra
Name[bg]=KAlgebra
Name[ca]=KAlgebra
Name[cs]=KAlgebra
Name[csb]=KAlgebra
Name[da]=KAlgebra
Name[de]=KAlgebra
Name[el]=KAlgebra
Name[en_GB]=KAlgebra
Name[eo]=KAlgebra
Name[es]=KAlgebra
Name[et]=KAlgebra
Name[eu]=KAlgebra
Name[fi]=KAlgebra
Name[fr]=KAlgebra
Name[ga]=KAlgebra
Name[gl]=KAlgebra
Name[gu]=KAlgebra
Name[he]=KAlgebra
Name[hi]=के-अलजेब्रा
Name[hne]=के-अलजेब्रा
Name[hu]=KAlgebra
Name[is]=KAlgebra
Name[it]=KAlgebra
Name[ja]=KAlgebra
Name[km]=KAlgebra
Name[ko]=KAlgebra
Name[lt]=KAlgebra
Name[lv]=KAlgebra
Name[ml]=കെ-ആള്‍ജിബ്ര
Name[nb]=KAlgebra
Name[nds]=KAlgebra
Name[ne]=केडीई बीजगणित
Name[nl]=KAlgebra
Name[nn]=KAlgebra
Name[pa]=ਕੇ-ਐਲਜਬਰਾ
Name[pl]=KAlgebra
Name[pt]=KAlgebra
Name[pt_BR]=KAlgebra
Name[ro]=KAlgebra
Name[ru]=KAlgebra
Name[si]=KAlgebra
Name[sl]=KAlgebra
Name[sv]=Kalgebra
Name[tr]=KAlgebra
Name[uk]=KАлгебра
Name[x-test]=xxKAlgebraxx
Name[zh_CN]=KAlgebra
Name[zh_TW]=KAlgebra
Icon=kalgebra
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_kalgebrabackend
X-KDE-PluginInfo-Name=kalgebrabackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://edu.kde.org/kalgebra
Comment=KAlgebra backend for Cantor. Lets you use the same language you use in the KAlgebra application in Cantor worksheets.
Comment[en_GB]=KAlgebra backend for Cantor. Lets you use the same language you use in the KAlgebra application in Cantor worksheets.
Comment[pt]=Infra-estrutura do KAlgebra para o Cantor. Permite-lhe usar a mesma linguagem que usa na aplicação KAlgebra, nas folhas de cálculo do Cantor.
Comment[uk]=Сервер KAlgebra для Cantor. Надає вам змогу використовувати мову команд програми KAlgebra на робочих аркушах Cantor.
Comment[x-test]=xxKAlgebra backend for Cantor. Lets you use the same language you use in the KAlgebra application in Cantor worksheets.xx
