[Desktop Entry]
Type=Service
Icon=office-chart-area
Name=Differentiate
Name[pt]=Diferenciar
Name[pt_BR]=Diferenciar
Name[sv]=Derivera
Name[uk]=Продиференціювати
X-KDE-ServiceTypes=MathematiK/Assistant
X-KDE-Library=mathematik_differentiateassistant
X-KDE-PluginInfo-Name=Differentiate
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify calculating derivatives of expressions
RequiredExtensions=CalculusExtension
