[Desktop Entry]
Type=Service
Icon=office-chart-area
Name=Differentiate
Name[bs]=Nađi izvod
Name[ca]=Deriva
Name[ca@valencia]=Deriva
Name[cs]=Diferencovat
Name[da]=Differentiér
Name[de]=Differenzieren
Name[el]=Αντιδιαστολή
Name[en_GB]=Differentiate
Name[es]=Diferenciar
Name[et]=Diferentsiaalarvutus
Name[fi]=Derivoi
Name[fr]=Calcul de dérivées
Name[gl]=Diferenciar
Name[hr]=Deriviraj
Name[it]=Funzione differenziabile
Name[ja]=微分
Name[km]=ឌីផេរ៉ង់សែល
Name[lv]=Diferencēt
Name[nb]=Differensier
Name[nds]=Differentschaalreken
Name[nl]=Differentiëren
Name[nn]=Deriver
Name[pl]=Różnica
Name[pt]=Diferenciar
Name[pt_BR]=Derivada
Name[ru]=Дифференцирование
Name[sv]=Derivera
Name[th]=หาอนุพันธ์
Name[tr]=Farklılaştır
Name[uk]=Продиференціювати
Name[x-test]=xxDifferentiatexx
Name[zh_CN]=微分
Name[zh_TW]=微分
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_differentiateassistant
X-KDE-PluginInfo-Name=Differentiate
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify calculating derivatives of expressions
Comment[ca]=Un diàleg assistent per simplificar els càlculs de derivades d'expressions
Comment[ca@valencia]=Un diàleg assistent per simplificar els càlculs de derivades d'expressions
Comment[cs]=Pomocný dialog pro zjednodušení derivace výrazů
Comment[da]=En hjælpedialog til at gøre udregning af afledninger af udtryk lettere
Comment[de]=Ein Assistent, um die Berechnung von Ableitungen von Ausdrücken zu vereinfachen
Comment[el]=Ένα βοηθητικό πλαίσιο διαλόγου για την απλοποίηση του υπολογισμού των παραγώγων των εκφράσεων.
Comment[en_GB]=An Assistant dialogue to simplify calculating derivatives of expressions
Comment[es]=Un diálogo asistente para simplificar el cálculo de derivadas de expresiones
Comment[et]=Avaldiste tuletiste arvutamist lihtsustav abiline
Comment[fr]=Une fenêtre d'assistance simplifiant le calcul des dérivées d'expressions
Comment[gl]=Un diálogo auxiliar para simplificar o cálculo das derivadas de expresións
Comment[it]=Un assistente per semplificare il calcolo di derivate di espressioni
Comment[ja]=数式の微分計算を手助けするウィザード
Comment[km]=ប្រអប់​ជំនួយ​ដែល​ធ្វើ​ឲ្យ​ងាយ​ស្រួល​ក្នុង​ការ​គណ​នា​កន្សោម​សមីការ​ដេរីវេ
Comment[lv]=Palīga dialoglogs izteiksmju atvasinājumu aprēķinu vienkāršošanai
Comment[nb]=En assistentdialog som gjør det enklere å beregne deriverte av uttrykk
Comment[nds]=En Hülpdialoog för't Utreken vun Afledden vun Utdrück
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het berekenen van afgeleiden van expressies
Comment[nn]=Eit hjelpevindauge for utrekning av den deriverte av uttrykk
Comment[pl]=Okno dialogowe asystenta pomagające uprościć obliczenia pochodnych z wyrażeń
Comment[pt]=Uma janela assistente que simplifica o cálculo de derivadas das expressões
Comment[pt_BR]=Um diálogo de assistente para simplificar o cálculo de derivadas das expressões
Comment[ru]=Диалоговое окно, упрощающее вычисление производных
Comment[sv]=En dialogruta med en guide för att förenkla beräkning av derivator för uttryck
Comment[tr]=İfadelerin türevlerini hesaplamayı kolaylaştırmak için kullanılan yardımcı pencere
Comment[uk]=Діалогове вікно помічника у обчисленні похідних від виразів
Comment[x-test]=xxAn Assistant dialog to simplify calculating derivatives of expressionsxx
Comment[zh_CN]=用于简化微分表达式计算的助手对话框
Comment[zh_TW]=簡化計算衍生表示式(derivatives of expressions)的小助手對話框
RequiredExtensions=CalculusExtension
