<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="mathematik_differentiate_assistant" version="1">
<MenuBar>
  <Menu name="calculate"><text>&amp;Calculate</text>
    <Action name="differentiate_assistant"/>
  </Menu>
</MenuBar>
</kpartgui>
