# Author: Filipe Saraiva (filip.saraiva at gmail.com)
# Date: 2011.27.04

# Personal configurarion files
*.user
*.kdev4
.kdev4/*

# Temporary files
*~

# Folder to compile source code
build*

# cmake stuff
*.cmake

# moc files
*.moc
moc_*
*_automoc.cpp*
.cmake/
