[Desktop Entry]
Type=Service
Name=Qalculate
Name[bg]=Qalculate
Name[cs]=Qalculate
Name[el]=Qalculate
Name[en_GB]=Qalculate
Name[es]=Qalculate
Name[et]=Qalculate
Name[fr]=Qalculate
Name[gl]=Qalculate
Name[nds]=Qalculate
Name[nl]=Qalculate
Name[pt]=Qalculate
Name[pt_BR]=Qalculate
Name[sv]=Beräkna
Name[tr]=Qalculate
Name[uk]=Qalculate
Name[x-test]=xxQalculatexx
Name[zh_CN]=计算器
Icon=qalculatebackend
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_qalculatebackend
X-KDE-PluginInfo-Name=qalculatebackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://qalculate.sourceforge.net/
Comment=Qalculate backend for Cantor. Gives you the advanced features of Qalculate
Comment[bg]=Ядро Qalculate за Cantor. Осигурява разширените възможности на Qalculate.
Comment[cs]=Podpůrná vrstva Qalculate pro Cantor. Poskytuje pokročilé vlastnosti Qalculate
Comment[el]=Qalculate σύστημα υποστήριξης για Cantor. Σας δίνει προσωρημένες επιλογές για το Qalculate
Comment[en_GB]=Qalculate backend for Cantor. Gives you the advanced features of Qalculate
Comment[es]=Motor de Qalculate para Cantor. Le proporciona las características avanzadas de Qalculate
Comment[et]=Cantori Qalculate'i taustaprogramm. Tagab Qalculate'i enamiku omaduste kasutamise.
Comment[fr]=Moteur Qalculate pour Cantor. Fournit les fonctionnalités avancées de Qalculate
Comment[gl]=Infraestrutura Qalculate para Cantor. Dá acceso ás características avanzadas do Qalculate
Comment[nds]=Qalculate-Hülpprogramm för Cantor. Stellt verwiedert Funkschonen vun Qalculate praat.
Comment[nl]=Qalculate-backend voor Cantor. Geeft u de geavanceerde features van Qalculate
Comment[pt]=Infra-estrutura do Qalculate para o Cantor. Dá-lhe as funcionalidades avançadas do Qalculate
Comment[pt_BR]=Infraestrutura Qalculate para o Cantor. Fornece a você recursos avançados do Qalculate
Comment[sv]=Beräkna bakgrundsprogram för Cantor. Ger dig de avancerade funktionerna i Beräkna.
Comment[tr]=Cantor için gelişmiş Qalculate özellikleri sağlayan arka uç.
Comment[uk]=Сервер Qalculate для Cantor. Надає до ваших послуг додаткові можливості Qalculate
Comment[x-test]=xxQalculate backend for Cantor. Gives you the advanced features of Qalculatexx
