[Desktop Entry]
Type=Service
Name=Qalculate
Name[en_GB]=Qalculate
Name[et]=Qalculate
Name[pt]=Qalculate
Name[pt_BR]=Qalculate
Name[sv]=Beräkna
Name[uk]=Qalculate
Name[x-test]=xxQalculatexx
Icon=qalculate
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_qalculatebackend
X-KDE-PluginInfo-Name=qalculatebackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://qalculate.sourceforge.net/
Comment=Qalculate backend for Cantor. Gives you the advanced features of Qalculate
Comment[en_GB]=Qalculate backend for Cantor. Gives you the advanced features of Qalculate
Comment[et]=Cantori Qalculate'i taustaprogramm. Tagab Qalculate'i enamiku omaduste kasutamise.
Comment[pt]=Infra-estrutura do Qalculate para o Cantor. Dá-lhe as funcionalidades avançadas do Qalculate
Comment[pt_BR]=Infraestrutura Qalculate para o Cantor. Fornece a você recursos avançados do Qalculate
Comment[sv]=Beräkna bakgrundsprogram för Cantor. Ger dig de avancerade funktionerna i Beräkna.
Comment[uk]=Сервер Qalculate для Cantor. Надає до ваших послуг додаткові можливості Qalculate
Comment[x-test]=xxQalculate backend for Cantor. Gives you the advanced features of Qalculatexx
