[Desktop Entry]
Type=Service
Icon=pythonbackend
Name=Python2
Name[bs]=Python2
Name[ca]=Python2
Name[ca@valencia]=Python2
Name[cs]=Python2
Name[da]=Python2
Name[de]=Python2
Name[el]=Python2
Name[en_GB]=Python2
Name[es]=Python2
Name[fi]=Python2
Name[fr]=Python2
Name[gl]=Python2
Name[hu]=Python2
Name[it]=Python2
Name[kk]=Python2
Name[ko]=Python2
Name[nb]=Python2
Name[nds]=Python2
Name[nl]=Python2
Name[pl]=Python2
Name[pt]=Python2
Name[pt_BR]=Python2
Name[ru]=Python2
Name[sk]=Python2
Name[sl]=Python2
Name[sv]=Python 2
Name[te]=ప్యితన్2
Name[tr]=Python2
Name[uk]=Python2
Name[x-test]=xxPython2xx
Name[zh_TW]=Python2
X-KDE-PluginInfo-Website=http://python.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_python2backend
X-KDE-PluginInfo-Name=Python2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Python 2 Scientific Programming
Comment[bs]=Pozadina za Python 2 naučno programiranje
Comment[ca]=Dorsal per a la programació científica Python2
Comment[ca@valencia]=Dorsal per a la programació científica Python2
Comment[cs]=Podpůrná vrstva pro vědecké programovací v Python 2
Comment[da]=Backend til videnskabelige programmering med Python 2
Comment[de]=Modul für die wissenschaftliche Programmierumgebung Python 2
Comment[el]=Σύστημα υποστήριξης για το επιστημονικό προγραμματιστικό περιβάλλον Python 2
Comment[en_GB]=Backend for Python 2 Scientific Programming
Comment[es]=Motor para programación científica en Python 2
Comment[fi]=Python2-pohjaisen tieteellisen ohjelmointiympäristön taustajärjestelmä
Comment[fr]=Moteur pour la programmation scientifique Python 2
Comment[gl]=Infraestrutura para o programación científica con Python 2
Comment[hu]=Háttérprogram a Python 2 tudományos programozáshoz
Comment[it]=Backend per l'ambiente scientifico di programmazione Python 2
Comment[kk]=Python 2 ғылыми программалау тетігі
Comment[ko]=파이썬 2 과학 프로그래밍 백엔드
Comment[nb]=Bakgrunnsmotor for  Python 2 Scientific Programming
Comment[nds]=Hülpprogramm för't Schrieven vun wetenschaplich Programmen mit Python2
Comment[nl]=Backend voor wetenschappelijke programmeeromgeving Python 2
Comment[pl]=Silnika dla naukowego środowiska programistycznego Python 2
Comment[pt]=Infra-Estrutura de Programação Científica com Python 2
Comment[pt_BR]=Infraestrutura de programação científica Python 2
Comment[ru]=Поддержка языка Python 2 и инженерных и научных расчётов на нём
Comment[sk]=Backend pre vedecké programovanie Python 2
Comment[sl]=Zaledje za znanstveno programersko okolje Python 2
Comment[sv]=Bakgrundsprogram för Python 2 vetenskaplig programmeringsmiljö
Comment[tr]=Python 2 Bilimsel Programlama için arka uç
Comment[uk]=Модуль наукового програмування мовою Python 2
Comment[x-test]=xxBackend for Python 2 Scientific Programmingxx
Comment[zh_TW]=Python 2 科學程式環境的後端介面
