[Desktop Entry]
Type=Service
Icon=pythonbackend
Name=Python2
Name[ca]=Python2
Name[ca@valencia]=Python2
Name[da]=Python2
Name[de]=Python2
Name[es]=Python2
Name[et]=Python2
Name[ga]=Python2
Name[gl]=Python2
Name[hu]=Python2
Name[it]=Python2
Name[kk]=Python2
Name[lv]=Python2
Name[nb]=Python2
Name[nds]=Python2
Name[nl]=Python2
Name[pl]=Python2
Name[pt]=Python2
Name[pt_BR]=Python2
Name[ru]=Python2
Name[sv]=Python2
Name[ug]=Python2
Name[uk]=Python2
Name[x-test]=xxPython2xx
Name[zh_CN]=Python2
Name[zh_TW]=Python2
X-KDE-PluginInfo-Website=http://python.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_python2backend
X-KDE-PluginInfo-Name=Python2
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Python 2 Scientific Programming
