[Desktop Entry]
Type=Service
Name=Eigenvalues
Name[ca]=Valors propis (Autovalors)
Name[nl]=Eigenwaarden
Name[pt]=Valores de Eigen
Name[pt_BR]=Valores de Eigen
Name[sv]=Egenvärden
Name[uk]=Власні значення
Name[x-test]=xxEigenvaluesxx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_eigenvaluesassistant
X-KDE-PluginInfo-Name=Create Matrix
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify calculating of Eigenvalues
Comment[ca]=Un diàleg assistent per simplificar el càlcul d'autovalors
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het berekenen van eigenwaarden
Comment[pt]=Uma janela assistente que simplifica o cálculo dos valores de Eigen
Comment[pt_BR]=Um diálogo assistente para simplificar o cálculo dos valores de Eigen
Comment[sv]=En dialogruta med en guide för att förenkla beräkning av egenvärden
Comment[uk]=Діалогове вікно помічника у обчисленні власних значень
Comment[x-test]=xxAn Assistant dialog to simplify calculating of Eigenvaluesxx
RequiredExtensions=LinearAlgebraExtension,HistoryExtension
