[Desktop Entry]
Type=Service
Icon=view-pim-mail
Name=nullbackend
Name[pt]=testes
Name[pt_BR]=testes
Name[sv]=Nollbakgrundsprogram
X-KDE-ServiceTypes=MathematiK/Backend
X-KDE-Library=mathematik_nullbackend
X-KDE-PluginInfo-Name=nullbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for MathematiK for testing purposes
Comment[et]=MathematiKi taustaprogramm testimiseks
Comment[pt]=Infra-estrutura de testes para o MathematiK
Comment[pt_BR]=Infra-estrutura de testes para o MathematiK
Comment[sv]=Bakgrundsprogram för Matematik i testsyfte
Comment[uk]=Тестовий сервер MathematiK
