[Desktop Entry]
Type=Service
Name=nullbackend
Name[ca]=DorsalNul
Name[en_GB]=nullbackend
Name[es]=nullbackend
Name[et]=nullbackend
Name[gl]=nullbackend
Name[nb]=nullbackend
Name[nl]=nullbackend
Name[pt]=infra-estrutura nula
Name[pt_BR]=infraestrutura vazia
Name[sv]=Nollbakgrundsprogram
Name[tr]=belirsiz arka uç
Name[uk]=nullbackend
Name[x-test]=xxnullbackendxx
Name[zh_TW]=nullbackend
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_nullbackend
X-KDE-PluginInfo-Name=nullbackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Cantor for testing purposes
Comment[ca]=Dorsal per al Cantor, per a fer proves
Comment[en_GB]=Backend for Cantor for testing purposes
Comment[es]=Motor de Cantor para realizar pruebas
Comment[et]=Cantori taustaprogramm testimiseks
Comment[gl]=Infraestrutura de Cantor para probas
Comment[nb]=Bakgrunnsmotor for Cantor for testing
Comment[nl]=Backend voor Cantor voor testdoeleinden
Comment[pt]=Infra-estrutura de testes para o Cantor
Comment[pt_BR]=Infraestrutura para o Cantor com o propósito de testes
Comment[sv]=Bakgrundsprogram för Cantor i testsyfte
Comment[uk]=Тестовий сервер Cantor
Comment[x-test]=xxBackend for Cantor for testing purposesxx
Comment[zh_TW]=Cantor 測試用的後端介面
