[Desktop Entry]
Type=Service
Icon=view-pim-mail
Name=R
Name[x-test]=xxRxx
X-KDE-ServiceTypes=MathematiK/Backend
X-KDE-Library=mathematik_rbackend
X-KDE-PluginInfo-Name=R
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for The R Project for Statistical Computing
Comment[pt]=Infra-Estrutura do Projecto de Computação Estatística R
Comment[pt_BR]=Infra-Estrutura do Projecto de Computação Estatística R
Comment[sv]=Bakgrundsprogram för R-projektet i statistisk datorberäkning
Comment[uk]=Сервер проекту R для статистичних обчислень
Comment[x-test]=xxBackend for The R Project for Statistical Computingxx
X-KDE-PluginInfo-Website=http://www.r-project.org/
X-MathematiK-HelpUrl=http://wiki.r-project.org/rwiki/doku.php?id=rdoc:rdoc

