[Desktop Entry]
Type=Service
Icon=rbackend
Name=R
Name[bg]=R
Name[bs]=R
Name[ca]=R
Name[ca@valencia]=R
Name[cs]=R
Name[da]=R
Name[de]=R
Name[el]=R
Name[en_GB]=R
Name[eo]=R
Name[es]=R
Name[et]=R
Name[eu]=R
Name[fi]=R
Name[fr]=R
Name[ga]=R
Name[gl]=R
Name[hr]=R
Name[hu]=R
Name[it]=R
Name[ja]=R
Name[kk]=R
Name[km]=R
Name[lv]=R
Name[nb]=R
Name[nds]=R
Name[nl]=R
Name[nn]=R
Name[pa]=R
Name[pl]=R
Name[pt]=R
Name[pt_BR]=R
Name[ru]=R
Name[sk]=R
Name[sl]=R
Name[sv]=R
Name[tr]=R
Name[ug]=R
Name[uk]=R
Name[x-test]=xxRxx
Name[zh_CN]=R
Name[zh_TW]=R
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_rbackend
X-KDE-PluginInfo-Name=R
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for The R Project for Statistical Computing
Comment[bg]=Ядро за проекта R за статистически изчисления
Comment[bs]=Vrši računanje za R projekat za statističko računarstvo
Comment[ca]=Dorsal per al projecte R, paquet d'estadística per ordinador
Comment[ca@valencia]=Dorsal per al projecte R, paquet d'estadística per ordinador
Comment[cs]=Podpůrná vrstva pro projekt R pro statistické výpočty
Comment[da]=Backend til The R Project til beregning af statistikker
Comment[de]=„The R Project for Statistical Computing“-Modul für Cantor
Comment[el]=Σύστημα υποστήριξης για το έργο R που αφορά σε στατιστική επεξεργασία
Comment[en_GB]=Backend for The R Project for Statistical Computing
Comment[es]=Motor para el Proyecto R para computación estadística
Comment[et]=Statistikaarvutuste projekti R taustaprogramm
Comment[eu]=Konputagailuko R estatistika proiektuarentzako 'backend'
Comment[fi]=R-projektin tilastolaskentaohjelmiston taustaosa
Comment[fr]=Moteur pour le projet R destiné au calcul statistique
Comment[gl]=Infraestrutura do Proxecto R de estatística computacional
Comment[hr]=Pozadinski servis za R (projekt za statističko računanje)
Comment[hu]=Modul az R projekthez
Comment[it]=Backend per il progetto R per l'analisi statistica
Comment[ja]=統計計算のための R のバックエンド
Comment[kk]=R статистика бағдарлама тетігі
Comment[km]=កម្ម​វិធី​ខាង​ក្រោយ​សម្រាប់​គម្រោង​ R សម្រាប់​ការ​គណនា​ស្ថិតិ
Comment[lv]=R projekta aizmugure statistiskajiem aprēķiniem
Comment[nb]=Bakgrunnsmotor for R-prosjektet for statistisk databehandling
Comment[nds]=Hülpprogramm för dat Statistikutrekenprojekt »R«
Comment[nl]=Backend voor het R Project voor statistische berekeningen
Comment[nn]=Motor for statistikksystemet R
Comment[pl]=Silnik dla środowiska "The R Projekt" do obliczeń statystycznych
Comment[pt]=Infra-Estrutura do Projecto de Computação Estatística R
Comment[pt_BR]=Infraestrutura para o projeto de computação estatística R
Comment[ru]=Модуль поддержки пакета для статистических вычислений R
Comment[sk]=Backend pre R Project pre štatistické výpočty
Comment[sl]=Hrbtenica za projekt R za statistično računanje
Comment[sv]=Bakgrundsprogram för R-projektet i statistisk datorberäkning
Comment[tr]=İstatistiksel hesaplama için R Project arka ucu
Comment[uk]=Сервер проекту R для статистичних обчислень
Comment[x-test]=xxBackend for The R Project for Statistical Computingxx
Comment[zh_CN]=R 计算器统计工程的后端
Comment[zh_TW]=R 統計計算專案的後端介面
X-KDE-PluginInfo-Website=http://www.r-project.org/


