[Desktop Entry]
Type=Service
Icon=rbackend
Name=R
Name[ca]=R
Name[pt]=R
Name[pt_BR]=R
Name[sv]=R
Name[uk]=R
Name[x-test]=xxRxx
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_rbackend
X-KDE-PluginInfo-Name=R
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for The R Project for Statistical Computing
Comment[ca]=Dorsal per al projecte R, paquet d'estadística per ordinador
Comment[pt]=Infra-Estrutura do Projecto de Computação Estatística R
Comment[pt_BR]=Infraestrutura para o projeto de computação estatística R
Comment[sv]=Bakgrundsprogram för R-projektet i statistisk datorberäkning
Comment[uk]=Сервер проекту R для статистичних обчислень
Comment[x-test]=xxBackend for The R Project for Statistical Computingxx
X-KDE-PluginInfo-Website=http://www.r-project.org/
X-Cantor-HelpUrl=http://wiki.r-project.org/rwiki/doku.php?id=rdoc:rdoc

