[Desktop Entry]
Type=Service
Icon=office-chart-area
Name=Integrate
Name[ca]=Integra
Name[ca@valencia]=Integra
Name[da]=Integrér
Name[de]=Integrieren
Name[el]=Ενσωμάτωση
Name[en_GB]=Integrate
Name[es]=Integrar
Name[et]=Integraalarvutus
Name[fr]=Calcul d'intégrale
Name[gl]=Integrar
Name[it]=Integrazione
Name[nb]=Integrer
Name[nds]=Integraalreken
Name[nl]=Integreren
Name[nn]=Integrer
Name[pt]=Integração
Name[pt_BR]=Integral
Name[ru]=Интегрирование
Name[sv]=Integrera
Name[tr]=Bütünleştir
Name[uk]=Проінтегрувати
Name[x-test]=xxIntegratexx
Name[zh_CN]=积分
Name[zh_TW]=積分
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_integrateassistant
X-KDE-PluginInfo-Name=Integrate
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify calculation of integrals
Comment[ca]=Un diàleg assistent per simplificar els càlculs d'integrals
Comment[ca@valencia]=Un diàleg assistent per simplificar els càlculs d'integrals
Comment[da]=En hjælpedialog til at gøre udregning af integraler lettere
Comment[de]=Ein Assistent, um die Berechnung von Integralen zu vereinfachen
Comment[el]=Ένα βοηθητικό πλαίσιο διαλόγου για την απλοποίηση του υπολογισμού των άρτιων αριθμών.
Comment[en_GB]=An Assistant dialogue to simplify calculation of integrals
Comment[es]=Un diálogo asistente para simplificar el cálculo de integrales
Comment[et]=Integraalide arvutamist lihtsustav abiline
Comment[fr]=Une fenêtre d'assistance simplifiant le calcul d'intégrales
Comment[gl]=Un diálogo auxiliar para simplificar o cálculo de integrais
Comment[it]=Un assistente per semplificare il calcolo di integrali
Comment[nb]=En assistentdialog som gjør det enklere å beregne integraler
Comment[nds]=En Hülpdialoog för't Utreken vun Integralen
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het berekenen van integralen
Comment[nn]=Eit hjelpevindauge for utrekning av integral av uttrykk
Comment[pt]=Uma janela assistente que simplifica o cálculo dos integrais
Comment[pt_BR]=Um diálogo de assistente para simplificar o cálculo de integrais
Comment[sv]=En dialogruta med en guide för att förenkla beräkning av integraler
Comment[uk]=Діалогове вікно помічника у обчисленні інтегралів
Comment[x-test]=xxAn Assistant dialog to simplify calculation of integralsxx
Comment[zh_CN]=用于简化积分运算的助手对话框
Comment[zh_TW]=簡化計算積分的小助手對話框
RequiredExtensions=CalculusExtension
