[Desktop Entry]
Type=Service
Icon=office-chart-area
Name=Integrate
Name[ca]=Integra
Name[en_GB]=Integrate
Name[nl]=Integreren
Name[pt]=Integração
Name[pt_BR]=Integral
Name[sv]=Integrera
Name[uk]=Проінтегрувати
Name[x-test]=xxIntegratexx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_integrateassistant
X-KDE-PluginInfo-Name=Integrate
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify calculation of integrals
Comment[ca]=Un diàleg assistent per simplificar els càlculs d'integrals
Comment[en_GB]=An Assistant dialogue to simplify calculation of integrals
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het berekenen van integralen
Comment[pt]=Uma janela assistente que simplifica o cálculo dos integrais
Comment[pt_BR]=Um diálogo de assistente para simplificar o cálculo de integrais
Comment[sv]=En dialogruta med en guide för att förenkla beräkning av integraler
Comment[uk]=Діалогове вікно помічника у обчисленні інтегралів
Comment[x-test]=xxAn Assistant dialog to simplify calculation of integralsxx
RequiredExtensions=CalculusExtension
