[Desktop Entry]
Type=Service
Icon=office-chart-area
Name=Integrate
Name[et]=Integreerimine
Name[pt]=Integrar
Name[pt_BR]=Integrar
Name[sv]=Integrera
Name[uk]=Проінтегрувати
X-KDE-ServiceTypes=MathematiK/Assistant
X-KDE-Library=mathematik_integrateassistant
X-KDE-PluginInfo-Name=Integrate
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify calculation of integrals
Comment[en_GB]=An Assistant dialogue to simplify calculation of integrals
Comment[et]=Integraalide arvutamist lihtsustav abiline
Comment[pt]=Uma janela assistente que simplifica o cálculo dos integrais
Comment[pt_BR]=Um diálogo de assitente para simplificar o cálculo de integrais
Comment[sv]=En dialogruta med en guide för att förenkla beräkning av integraler
Comment[uk]=Діалогове вікно помічника у обчисленні інтегралів
RequiredExtensions=CalculusExtension
