[Desktop Entry]
Type=Service
Icon=scilabbackend
Name=Scilab
Name[es]=Scilab
Name[pt]=Scilab
Name[sv]=Scilab
Name[uk]=Scilab
Name[x-test]=xxScilabxx
X-KDE-PluginInfo-Website=http://scilab.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_scilabbackend
X-KDE-PluginInfo-Name=Scilab
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for the Scilab Scientific Programming Environment
Comment[pt]=Infra-Estrutura do Ambiente de Programação Científica Scilab
Comment[sv]=Bakgrundsprogram för Scilab vetenskaplig programmeringsmiljö
Comment[uk]=Сервер наукового середовища програмування Scilab
Comment[x-test]=xxBackend for the Scilab Scientific Programming Environmentxx
# Comment[ca]=Dorsal per al Scilab: un sistema d'àlgebra per ordinador
# Comment[ca@valencia]=Dorsal per al Scilab: un sistema d'àlgebra per ordinador
# Comment[cs]=Podpůrná vrstva pro počítačový systém algebry Scilab
# Comment[da]=Backend til Scilab Computer Algebra System
# Comment[de]=„Scilab Computer Algebra System“-Modul für Cantor
# Comment[el]=Υποσύστημα για το αλγεβρικό σύστημα υπολογιστών Scilab
# Comment[en_GB]=Backend for the Scilab Computer Algebra System
# Comment[es]=Motor para el sistema algebraico informatizado Scilab
# Comment[et]=Scilab kompuuter-algebrasüsteemi taustaprogramm
# Comment[fr]=Module pour le système d'algèbres Scilab pour ordinateur
# Comment[gl]=Infraestrutura do Sistema de álxebra computerizada Scilab
# Comment[hr]=Pozadinski servis za Maximu
# Comment[it]=Backend per il sistema di calcolo algebrico Scilab
# Comment[ja]=Scilab のためのバックエンド
# Comment[km]=កម្មវិធី​ខាង​ក្រោយ​សម្រាប់​ប្រព័ន្ធ​ពិជ​​​គណិត​​អតិបរមា​របស់​កុំព្យូទ័រ
# Comment[lv]=Scilab Computer Algebra System aizmugure
# Comment[nb]=Bakgrunnsmotor for algebrasystemet Scilab
# Comment[nds]=Hülpprogramm för dat Algebraprogramm »Scilab«
# Comment[nl]=Backend voor het Scilab Computer Algebra System
# Comment[nn]=Motor for algebrasystemet Scilab
# Comment[pl]=Mechanizm dla systemu algebry komputerowej Scilab
# Comment[pt]=Infra-Estrutura para o Sistema Algébrico por Computador Scilab
# Comment[pt_BR]=Infraestrutura para o Scilab Computer Algebra System
# Comment[ru]=Модуль поддержки системы компьютерной алгебры Scilab
# Comment[sv]=Bakgrundsprogram för datoralgebrasystemet Scilab
# Comment[tr]=Scilab Computer Algebra System için arka uç
# Comment[uk]=Сервер системи комп’ютерної алгебри Scilab
# Comment[x-test]=xxBackend for the Scilab Computer Algebra Systemxx
# Comment[zh_CN]=Scilab 计算器代数系统后端
# Comment[zh_TW]=Scilab 電腦代數系統的後端介面

