[Desktop Entry]
Type=Service
Icon=
Name=Variable Manager
Name[bg]=Управление на променливи
Name[ca]=Gestor de variables
Name[ca@valencia]=Gestor de variables
Name[cs]=Správce proměnných
Name[da]=Håndtering af variabler
Name[de]=Variablen-Verwaltung
Name[en_GB]=Variable Manager
Name[es]=Gestor de variables
Name[et]=Muutujate haldur
Name[eu]=Aldagaien kudeatzailea
Name[fi]=Muuttujien hallinta
Name[fr]=Gestionnaire de variables
Name[gl]=Xestor de variábeis
Name[hu]=Változókezelő
Name[it]=Gestore variabili
Name[kk]=Айнымалыларды басқару
Name[km]=កម្មវិធី​គ្រប់​គ្រង​អថេរ
Name[lv]=Mainīgo pārvaldnieks
Name[nb]=Variabelhåndtering
Name[nds]=Variabelnpleger
Name[nl]=Beheerder van variabelen
Name[pa]=ਵੇਰੀਬਲ ਮੈਨੇਜਰ
Name[pl]=Menadżer zmiennych
Name[pt]=Gestor de Variáveis
Name[pt_BR]=Gerenciador de variáveis
Name[ru]=Переменные
Name[sk]=Správca premenných
Name[sl]=Upravljalnik spremenljivk
Name[sv]=Variabelhantering
Name[th]=ตัวจัดการตัวแปร
Name[ug]=ئۆزگەرگۈچى باشقۇرغۇ
Name[uk]=Керування змінними
Name[x-test]=xxVariable Managerxx
Name[zh_CN]=变量管理器
Name[zh_TW]=變數管理員
X-KDE-ServiceTypes=Cantor/PanelPlugin
X-KDE-Library=cantor_variablemanagerplugin
X-KDE-PluginInfo-Name=VariableManager
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=A panel to manage the variables of a session
Comment[bg]=Панел за управление променливите на сесията
Comment[ca]=Un plafó per gestionar les variables d'una sessió
Comment[ca@valencia]=Un plafó per gestionar les variables d'una sessió
Comment[cs]=Panel pro správu proměnných sezení
Comment[da]=Et panel til at håndtere variablerne i en session
Comment[de]=Eine Leiste, um Sitzungsvariablen zu verwalten
Comment[en_GB]=A panel to manage the variables of a session
Comment[es]=Un panel para gestionar las variables de una sesión
Comment[et]=Paneel seansi muutujate haldamiseks
Comment[eu]=Saio baten aldagaiak kudeatzeko panel bat
Comment[fi]=Paneeli istunnon muuttujien hallitsemiseen
Comment[fr]=Un panneau pour gérer les variables d'une session
Comment[gl]=Un panel para xestionar as variábeis dunha sesión
Comment[hu]=Egy panel a munkamenet változóinak kezelésére
Comment[it]=Un pannello per gestire le variabili di una sessione
Comment[kk]=Сеанстағы айнамалыларды басқару панелі
Comment[km]=ផ្ទាំង​សម្រាប់​គ្រប់​គ្រង​អថេរ​របស់​សម័យ
Comment[lv]=Panelis sesijas mainīgo pārvaldīšanai
Comment[nb]=Et panel for å håndtere variablene i en økt
Comment[nds]=En Paneel för de Törnvariabelnpleeg
Comment[nl]=Een paneel om de variabelen van een sessie te beheren
Comment[pl]=Panel do obsługi zmiennych sesji
Comment[pt]=Um painel para gerir as variáveis de uma sessão
Comment[pt_BR]=Um painel para gerenciar as variáveis de uma sessão
Comment[ru]=Панель для управления переменными сеанса
Comment[sk]=Panel na správu premenných sedenia
Comment[sl]=Podokno za upravljanje spremenljivk v seji
Comment[sv]=En panel för att hantera variablerna i en session
Comment[th]=แถบพาแนลเพื่อจัดการตัวแปรของวาระ
Comment[ug]=ئەڭگىمە ئۆزگەرگۈچىلىرىنى باشقۇرىدىغان كۆزنەك
Comment[uk]=Панель керування змінними сеансу
Comment[x-test]=xxA panel to manage the variables of a sessionxx
Comment[zh_CN]=管理会话中变量的面板
Comment[zh_TW]=管理工作階段內的變數的面板
RequiredExtensions=VariableManagementExtension
