[Desktop Entry]
Type=Service
Icon=
Name=Variable Manager
X-KDE-ServiceTypes=Cantor/PanelPlugin
X-KDE-Library=cantor_variablemanagerplugin
X-KDE-PluginInfo-Name=VariableManager
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=A panel to manager the variables of a session
RequiredExtensions=VariableManagementExtension
