[Desktop Entry]
Type=Service
Icon=kmplot
Name=Maxima
X-KDE-ServiceTypes=MathematiK/Backend
X-KDE-Library=mathematik_maximabackend
X-KDE-PluginInfo-Name=Maxima
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for the Maxima Computer Algebra System
Comment[et]=Maxima kompuuter-algebrasüsteemi taustaprogramm
Comment[pt]=Infra-Estrutura para o Sistema Algébrico por Computador Maxima
Comment[pt_BR]=Infraestrutura para o Maxima Computer Algebra System
Comment[sv]=Bakgrundsprogram för datoralgebrasystemet Maxima
Comment[uk]=Сервер системи комп’ютерної алгебли Maxima
