[Desktop Entry]
Type=Service
Icon=maximabackend
Name=Maxima
X-KDE-PluginInfo-Website=http://maxima.sourceforge.net/
X-KDE-ServiceTypes=MathematiK/Backend
X-KDE-Library=mathematik_maximabackend
X-KDE-PluginInfo-Name=Maxima
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for the Maxima Computer Algebra System
X-MathematiK-HelpUrl=http://maxima.sourceforge.net/docs/manual/en/maxima.html
