[Desktop Entry]
Type=Service
Icon=maximabackend
Name=Maxima
Name[ca]=Maxima
Name[en_GB]=Maxima
Name[es]=Maxima
Name[et]=Maxima
Name[nb]=Maxima
Name[nl]=Maxima
Name[pt]=Maxima
Name[pt_BR]=Maxima
Name[sv]=Maxima
Name[uk]=Maxima
Name[x-test]=xxMaximaxx
X-KDE-PluginInfo-Website=http://maxima.sourceforge.net/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_maximabackend
X-KDE-PluginInfo-Name=Maxima
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for the Maxima Computer Algebra System
Comment[ca]=Dorsal per al Maxima: un sistema d'àlgebra per ordinador
Comment[en_GB]=Backend for the Maxima Computer Algebra System
Comment[es]=Motor para el sistema algebráico informatizado Maxima
Comment[et]=Maxima kompuuter-algebrasüsteemi taustaprogramm
Comment[nb]=Bakgrunnsmotor for algebrasystemet Maxima
Comment[nl]=Backend voor het Maxima Computer Algebra System
Comment[pt]=Infra-Estrutura para o Sistema Algébrico por Computador Maxima
Comment[pt_BR]=Infraestrutura para o Maxima Computer Algebra System
Comment[sv]=Bakgrundsprogram för datoralgebrasystemet Maxima
Comment[uk]=Сервер системи комп’ютерної алгебри Maxima
Comment[x-test]=xxBackend for the Maxima Computer Algebra Systemxx
X-Cantor-HelpUrl=http://maxima.sourceforge.net/docs/manual/en/maxima.html
