[Desktop Entry]
Type=Service
Icon=sagebackend
Name=Sage
Name[bs]=Sage
Name[ca]=Sage
Name[ca@valencia]=Sage
Name[cs]=Sage
Name[da]=Sage
Name[de]=Sage
Name[el]=Sage
Name[en_GB]=Sage
Name[eo]=Sage
Name[es]=Sage
Name[et]=Sage
Name[eu]=Sage
Name[fi]=Sage
Name[fr]=Sage
Name[ga]=Sage
Name[gl]=Sage
Name[hr]=Sage
Name[hu]=Sage
Name[it]=Sage
Name[ja]=Sage
Name[km]=Sage
Name[lv]=Sage
Name[nb]=Sage
Name[nds]=Sage
Name[nl]=Sage
Name[nn]=Sage
Name[pl]=Sage
Name[pt]=Sage
Name[pt_BR]=Sage
Name[ru]=Sage
Name[sl]=Sage
Name[sv]=Sage
Name[tr]=Sage
Name[ug]=Sage
Name[uk]=Sage
Name[x-test]=xxSagexx
Name[zh_CN]=Sage
Name[zh_TW]=Sage
X-KDE-PluginInfo-Website=http://www.sagemath.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_sagebackend
X-KDE-PluginInfo-Name=Sage
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for the Sage Mathematics Software
Comment[ca]=Dorsal per al programari matemàtic Sage
Comment[ca@valencia]=Dorsal per al programari matemàtic Sage
Comment[cs]=Podpůrná vrstva pro matematický software Sage
Comment[da]=Backend til matematiksoftwaren Sage
Comment[de]=„Sage Mathematics Software“-Modul für Cantor
Comment[el]=Υποσύστημα για το μαθηματικό λογισμικό Sage
Comment[en_GB]=Backend for the Sage Mathematics Software
Comment[es]=Motor para el software matemático Sage
Comment[et]=Sage matemaatikatarkvara taustaprogramm
Comment[eu]=Sage matematika softwarearentzako 'backend'
Comment[fr]=Moteur pour le logiciel de mathématiques Sage
Comment[gl]=Infraestrutura do Software de matemáticas Sage
Comment[hr]=Pozadniski servis za Sage
Comment[hu]=Modul a Sage matematikai szoftverhez
Comment[it]=Backend per il software matematico Sage
Comment[ja]=数値演算ソフトウェア Sage のバックエンド
Comment[km]=កម្មវិធី​ខាង​ក្រោយ​សម្រាប់​កម្មវិធី​គណិតវិទ្យា​​ Sage
Comment[lv]=Sage Mathematics Software aizmugure
Comment[nb]=Bakgrunnsmotor for Sage matematikkprogram
Comment[nds]=Hülpprogramm för dat Mathematikprogramm »Sage«
Comment[nl]=Backend voor de Sage wiskundige software
Comment[nn]=Motor for matematikksystemet Sage
Comment[pl]=Silnik dla programu matematycznego Sage
Comment[pt]=Infra-estrutura para a aplicação matemática Sage
Comment[pt_BR]=Infraestrutura para o Sage Mathematics Software
Comment[ru]=Модуль поддержки Sage
Comment[sl]=Hrbtenica za matematično programje Sage
Comment[sv]=Bakgrundsprogram för matematikprogramvaran Sage
Comment[th]=โปรแกรมเบื้องหลังสำหรับซอฟต์แวร์ทางคณิตศาสตร์ Sage
Comment[tr]=Sage Matematik Yazılımı için arka uç
Comment[uk]=Сервер математичного програмного забезпечення Sage
Comment[x-test]=xxBackend for the Sage Mathematics Softwarexx
Comment[zh_CN]=Sage 数学软件的后端
Comment[zh_TW]=Sage 數學系統的後端介面
