[Desktop Entry]
Type=Service
Name=Import Package
Name[de]=Paket importieren
Name[es]=Importar paquete
Name[fi]=Tuo paketti
Name[kk]=Дестені импорттау
Name[pt]=Importar o Pacote
Name[pt_BR]=Importar pacote
Name[sl]=Uvozi paket
Name[sv]=Importera paket
Name[uk]=Імпортування пакунка
Name[x-test]=xxImport Packagexx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_importpackageassistant
X-KDE-PluginInfo-Name=Import package
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to import a specific package (or library or module) to Cantor workspace
Comment[de]=Ein Assistent, um ein angegebenes Paket, Bibliothek oder Modul in den Arbeitsbereich von Cantor zu importieren
Comment[es]=Un diálogo de asistente para importar un paquete (o biblioteca o módulo) determinado al espacio de trabajo de Cantor
Comment[fi]=Apuikkuna paketin (tai kirjaston tai mobuulin) tuomiseen Cantor-työtilaan
Comment[kk]=Cantor жұмыс орнынын өзінің дестесін (не жиын файлын не модулін) импорттаудың көмекші диалогы
Comment[pt]=Uma janela de assistente para importar um pacote específico (ou biblioteca ou módulo) para a área de trabalho do Cantor
Comment[pt_BR]=Um assistente para importar um pacote específico (biblioteca ou módulo) para o espaço de trabalho do Cantor
Comment[sl]=Pogovorno okno pomočnika za uvoz določenega paketa (ali knjižnice ali modula) v delovni prostor Cantor-ja
Comment[sv]=En dialogruta med en guide för att importera ett specifikt paket (eller bibliotek eller modul) till en Cantor arbetsrymd
Comment[uk]=Допоміжне діалогове вікно для імпортування певного пакунка (бібліотеки або модуля) до робочого простору Cantor
Comment[x-test]=xxAn Assistant dialog to import a specific package (or library or module) to Cantor workspacexx
RequiredExtensions=PackagingExtension
