[Desktop Entry]
Type=Service
Icon=pythonbackend
Name=Python
Name[ca]=Python
Name[ca@valencia]=Python
Name[da]=Python
Name[de]=Python
Name[es]=Python
Name[et]=Python
Name[ga]=Python
Name[gl]=Python
Name[hu]=Python
Name[it]=Python
Name[kk]=Python
Name[lv]=Python
Name[nb]=Python
Name[nds]=Python
Name[nl]=Python
Name[pl]=Python
Name[pt]=Python
Name[pt_BR]=Python
Name[ru]=Python
Name[sv]=Python
Name[ug]=Python
Name[uk]=Python
Name[x-test]=xxPythonxx
Name[zh_CN]=Python
Name[zh_TW]=Python
X-KDE-PluginInfo-Website=http://python.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_pythonbackend
X-KDE-PluginInfo-Name=Python
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Python Scientific Programming
