[Desktop Entry]
Type=Service
Name=AdvancedPlot
Name[ca]=GràficAvançat
Name[ca@valencia]=GràficAvançat
Name[cs]=Pokročilý graf
Name[da]=AdvancedPlot
Name[de]=AdvancedPlot
Name[en_GB]=AdvancedPlot
Name[es]=AdvancedPlot
Name[et]=Täiustatud joonis
Name[fr]=Graphe avancé
Name[gl]=AdvancedPlot
Name[hu]=Speciális ábrázolás
Name[it]=Grafico avanzato
Name[kk]=Жетеленген график
Name[km]=AdvancedPlot
Name[lv]=Papildu grafiki
Name[nb]=Avansert plott
Name[nds]=Verwiedert Bagenschrieven
Name[nl]=AdvancedPlot
Name[pl]=Zaawansowane wykresy
Name[pt]=Gráfico Avançado
Name[pt_BR]=Gráfico avançado
Name[ru]=Настраиваемый график
Name[sk]=AdvancedPlot
Name[sl]=Napreden Graf
Name[sv]=Avancerat diagram
Name[ug]=AdvancedPlot
Name[uk]=Складне креслення
Name[x-test]=xxAdvancedPlotxx
Name[zh_CN]=高级绘图
Name[zh_TW]=進階繪製
RequiredExtensions=AdvancedPlotExtension
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_advancedplotassistant
X-KDE-PluginInfo-Name=AdvancedPlot
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
