[Desktop Entry]
Type=Service
Name=QalculatePlot
Name[de]=QalculatePlot
Name[es]=QalculatePlot
Name[nl]=QalculatePlot
Name[pt]=Gráfico do Qalculate
Name[pt_BR]=Gráfico do Qalculate
Name[sv]=Rita med Qalculate
Name[uk]=QalculatePlot
Name[x-test]=xxQalculatePlotxx
Name[zh_TW]=QalculatePlot
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_qalculateplotassistant
X-KDE-PluginInfo-Name=Plot2d
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant for plotting with the Qalculate backend.
Comment[es]=Un asistente para gráficos con el motor Qalculate.
Comment[nl]=Een assistent voor het plotten met de Qalculate-backend.
Comment[pt]=Um Assistente de gráficos com a infra-estrutura do Qalculate.
Comment[pt_BR]=Um assistente de geração de gráficos com a infraestrutura do Qalculate.
Comment[sv]=En guide för att rita med bakgrundsprogrammet Qalculate.
Comment[uk]=Допоміжна програма для креслення за допомогою сервера Qalculate.
Comment[x-test]=xxAn Assistant for plotting with the Qalculate backend.xx
Comment[zh_TW]=使用 Qalculate 後端介面的繪圖助手。
RequiredExtensions=QalculatePlotExtension
