[Desktop Entry]
Type=Service
Name=QalculatePlot
Name[bg]=QalculatePlot
Name[bs]=QalculatePlot
Name[ca]=Gràfic de Qalculate
Name[ca@valencia]=Gràfic de Qalculate
Name[cs]=QalculatePlot
Name[da]=QalculatePlot
Name[de]=QalculatePlot
Name[el]=QalculatePlot
Name[en_GB]=QalculatePlot
Name[es]=QalculatePlot
Name[et]=Qalculate'i joonis
Name[fi]=QalculatePlot
Name[fr]=Tracé « Qalculate »
Name[gl]=QalculatePlot
Name[hu]=QalculatePlot
Name[it]=Grafico con Qalculate
Name[kk]=QalculatePlot
Name[km]=QalculatePlot
Name[ko]=QalculatePlot
Name[lv]=QalculatePlot
Name[nb]=QalculatePlot
Name[nds]=QalculatePlot
Name[nl]=QalculatePlot
Name[pl]=QalculatePlot
Name[pt]=Gráfico do Qalculate
Name[pt_BR]=Gráfico do Qalculate
Name[ru]=Графики Qalculate
Name[sk]=QalculatePlot
Name[sl]=Grafi Qalculate
Name[sv]=Rita med Qalculate
Name[tr]=QalculatePlot
Name[uk]=QalculatePlot
Name[x-test]=xxQalculatePlotxx
Name[zh_CN]=QalculatePlot
Name[zh_TW]=QalculatePlot
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_qalculateplotassistant
X-KDE-PluginInfo-Name=Plot2d
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant for plotting with the Qalculate backend.
Comment[bs]=Pomoćnik za crtanje koji koristi Qalculate
Comment[ca]=Un assistent per fer gràfiques amb el dorsal del Qalculate.
Comment[ca@valencia]=Un assistent per graficar amb el dorsal de Qalculate.
Comment[cs]=Asistent pro grafy s podpůrnou vrstvou Qualculate.
Comment[da]=En assistent til at plotte med Qalculate-backenden.
Comment[de]=Ein Assistent für das Plotten mit dem Qalculate-Modul.
Comment[el]=Ένας βοηθός για γραφική απεικόνιση με το σύστημα υποστήριξης Qalculate.
Comment[en_GB]=An Assistant for plotting with the Qalculate backend.
Comment[es]=Un asistente para gráficos con el motor Qalculate.
Comment[et]=Joonise loomise abiline Qalculate'i taustaprogrammiga
Comment[fi]=Opastettu funktioiden piirtäminen käyttäen Qalculate-taustajärjestelmää.
Comment[fr]=Un assistant pour le tracé avec le moteur « Qalculate »
Comment[gl]=Un axudante para debuxar coa infraestrutura Qalculate.
Comment[hu]=Segéd a Qalculate háttérprogrammal való ábrázoláshoz.
Comment[it]=Un assistente che crea grafici usando Qalculate.
Comment[kk]=Qalculate тетігімен график сызуға көмегі.
Comment[km]=អ្នក​ជំនួយការ​គូស​ក្រាហ្វិក​ដែល​មាន​កម្មវិធី​ខាងក្រោយ​របស់ Qalculate ។
Comment[ko]=Qalculate 백엔드 플로팅 마법사입니다.
Comment[lv]=Palīgs grafiku veidošanai ar Qalculate aizmuguri.
Comment[nb]=En assistent for plotting med Qalculate bakgrunnsmotor.
Comment[nds]=En Hülper för't Plotten mit dat Hülpprogramm Qalculate.
Comment[nl]=Een assistent voor het plotten met de Qalculate-backend.
Comment[pl]=Pomocnik rysowania wykresów przy użyciu silnika Qalculate.
Comment[pt]=Um Assistente de gráficos com a infra-estrutura do Qalculate.
Comment[pt_BR]=Um assistente de geração de gráficos com a infraestrutura do Qalculate.
Comment[ru]=Диалоговое окно, упрощающее построение графиков с использованием Qalculate.
Comment[sk]=Asistent na kreslenie s backendom Qalculate.
Comment[sl]=Pomočnik za izrisovanje grafov s Qalculate
Comment[sv]=En guide för att rita med bakgrundsprogrammet Qalculate.
Comment[tr]=Qalculate arka ucu ile bir grafik yardımcısı.
Comment[uk]=Допоміжна програма для креслення за допомогою модуля Qalculate.
Comment[x-test]=xxAn Assistant for plotting with the Qalculate backend.xx
Comment[zh_CN]=用 Qalculate 后端画图的助手。
Comment[zh_TW]=使用 Qalculate 後端介面的繪圖助手。
RequiredExtensions=QalculatePlotExtension
