[Desktop Entry]
Type=Service
Name=Plot3d
Name[bg]=Plot3d
Name[bs]=Plot3d
Name[ca]=Plot3d
Name[ca@valencia]=Plot3d
Name[cs]=Graf3d
Name[da]=Plot3d
Name[de]=Plot3d
Name[el]=Plot3d
Name[en_GB]=Plot3d
Name[es]=Plot3d
Name[et]=3Djoonis
Name[eu]=Marraztu3d
Name[fr]=Point3d
Name[ga]=Plot3d
Name[gl]=Plot3d
Name[hu]=Plot3d
Name[it]=Grafico 3D
Name[ja]=Plot3d
Name[kk]=Екі-өлшемді график
Name[km]=ក្រាហ្វិក​ត្រី​មាឌ
Name[lv]=Grafiks 3D
Name[nb]=Plot3d
Name[nds]=3D-Diagramm
Name[nl]=Plot3d
Name[nn]=Plott 3D
Name[pl]=Wykres 3D
Name[pt]=Gráfico3D
Name[pt_BR]=Gráfico em 3D
Name[ru]=Поверхность, задаваемая функцией
Name[sk]=Plot3d
Name[sl]=Nariši v 3D
Name[sv]=Rita i tre dimensioner
Name[th]=ลงจุด 3 มิติ
Name[tr]=3B Çizim
Name[ug]=Plot3d
Name[uk]=Plot3d
Name[x-test]=xxPlot3dxx
Name[zh_CN]=Plot3d
Name[zh_TW]=繪製立體圖
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_plot3dassistant
X-KDE-PluginInfo-Name=Plot3d
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify plotting of 3D functions
Comment[bg]=Помощен прозорец за улесняване чертаенето на триизмерни функции
Comment[ca]=Un diàleg assistent per simplificar la representació gràfica de funcions 3D
Comment[ca@valencia]=Un diàleg assistent per simplificar la representació gràfica de funcions 3D
Comment[cs]=Pomocný dialog pro zjednodušení vytvoření grafu trojrozměrných funkcí
Comment[da]=En hjælpedialog til at gøre plotning af 3D-funktioner lettere
Comment[de]=Ein Assistent, um das Zeichnen von 3D-Funktionen zu vereinfachen
Comment[el]=Ένα βοηθητικό πλαίσιο διαλόγου για την απλοποίηση της δημιουργίας τρισδιάστατων γραφημάτων των συναρτήσεων.
Comment[en_GB]=An Assistant dialogue to simplify plotting of 3D functions
Comment[es]=Un diálogo asistente para simplificar el trazado de funciones 3D
Comment[et]=3D jooniste loomist lihtsustav abiline
Comment[eu]=3D funtzioen marrazketa errazteko elkarrizketa laguntzaile bat
Comment[fr]=Une boîte de dialogue d'assistant simplifiant le tracé de fonctions 3D
Comment[gl]=Un diálogo auxiliar para simplificar a representación de funcións 3D
Comment[hu]=Segédablak 3D-s függvények ábrázolásának egyszerűsítésére
Comment[it]=Un assistente che semplifica la creazione di grafici di funzioni 3D
Comment[ja]=三次曲線のグラフ化を手助けするウィザード
Comment[kk]=Үш-өлшемді графиктерді салуға көмек ететін диалогы
Comment[km]=ប្រអប់​ជំនួយ​ដែល​​ធ្វើ​ឲ្យ​ងាយ​ស្រួល​ដល់​ការ​គូស​ក្រាហ្វិក​អនុគមន៍ត្រី​មាឌ
Comment[lv]=Palīga dialoglogs 3D funkciju zīmēšanas vienkāršošanai
Comment[nb]=En assistentdialog som gjør det enklere å plotte 3D-funksjoner
Comment[nds]=En Hülpdialoog för't Plotten vun 3D-Funkschonen
Comment[nl]=Een assistentdialoog voor het vereenvoudigd tekenen van 3D-functies
Comment[pl]=Okno dialogowe asystenta pomagające uprościć wykreślanie funkcji 3D
Comment[pt]=Uma janela assistente que simplifica o desenho de gráficos de funções em 3D
Comment[pt_BR]=Um diálogo de assistente para simplificar o desenho de gráficos de funções em 3D
Comment[ru]=Диалоговое окно, упрощающее построение объёмных графиков функций двух переменных
Comment[sl]=Pomočnik, ki poenostavi risanje 3D funkcij
Comment[sv]=En dialogruta med guide för att förenkla uppritning av tredimensionella funktioner
Comment[uk]=Діалогове вікно помічника спрощення побудови поверхонь
Comment[x-test]=xxAn Assistant dialog to simplify plotting of 3D functionsxx
Comment[zh_CN]=用于简化三维函数图绘制的助手对话框
Comment[zh_TW]=簡化繪製三維函式小助手對話框
RequiredExtensions=PlotExtension
