[Desktop Entry]
Type=Service
Icon=octavebackend
Name=Octave
Name[x-test]=xxOctavexx
X-KDE-PluginInfo-Website=http://www.octave.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_octavebackend
X-KDE-PluginInfo-Name=Octave
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for GNU Octave
Comment[x-test]=xxBackend for GNU Octavexx
