[Desktop Entry]
Type=Service
Icon=octavebackend
Name=Octave
Name[bg]=Octave
Name[bs]=Octave
Name[ca]=Octave
Name[ca@valencia]=Octave
Name[cs]=Octave
Name[da]=Octave
Name[de]=Octave
Name[el]=Octave
Name[en_GB]=Octave
Name[es]=Octave
Name[et]=Octave
Name[eu]=Octave
Name[fi]=Octave
Name[fr]=Octave
Name[ga]=Octave
Name[gl]=Octave
Name[hu]=Octave
Name[it]=Octave
Name[kk]=Octave
Name[km]=Octave
Name[lv]=Octave
Name[nb]=Octave
Name[nds]=Octave
Name[nl]=Octave
Name[pl]=Octave
Name[pt]=Octave
Name[pt_BR]=Octave
Name[ru]=Octave
Name[sk]=Octave
Name[sl]=Octave
Name[sv]=Octave
Name[ug]=Octave
Name[uk]=Octave
Name[x-test]=xxOctavexx
Name[zh_CN]=Octave
Name[zh_TW]=Octave
X-KDE-PluginInfo-Website=http://www.octave.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_octavebackend
X-KDE-PluginInfo-Name=Octave
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for GNU Octave
Comment[bg]=Ядро за GNU Octave
Comment[bs]=Pozadina za GNU Octave
Comment[ca]=Un dorsal per al GNU Octave
Comment[ca@valencia]=Un dorsal per al GNU Octave
Comment[cs]=Podpůrná vrstva pro GNU Octave
Comment[da]=En backend til GNU Octave
Comment[de]=Ein Modul für GNU Octave
Comment[el]=Σύστημα υποστήριξης για το GNU Octave
Comment[en_GB]=Backend for GNU Octave
Comment[es]=Un motor para GNU Octave
Comment[et]=GNU Octave'i taustaprogramm
Comment[eu]=GNU Octave-rentzako 'backend'
Comment[fi]=GNU Octaven taustaosa
Comment[fr]=Moteur GNU Octave
Comment[gl]=Infraestrutura para GNU Octave
Comment[hu]=Modul a GNU Octave-hoz
Comment[it]=Backend per GNU Octave
Comment[ja]=GNU Cantor のバックエンド
Comment[kk]=GNU Octave тетігі
Comment[km]=កម្មវិធី​ខាង​ក្រោយ​សម្រាប់​ GNU Octave
Comment[lv]=GNU Octave aizmugure
Comment[nb]=En bakgrunnsmotor for GNU Octave
Comment[nds]=Hülpprogramm för GNU Octave
Comment[nl]=Een backend voor GNU Octave
Comment[pa]=GNU ਕੇਨਟੋਰ ਲਈ ਬੈਕਐਂਡ
Comment[pl]=Silnik dla GNU Octave
Comment[pt]=Infra-Estrutura para o Octave da GNU
Comment[pt_BR]=Infraestrutura para o GNU Octave
Comment[ru]=Модуль поддержки Octave
Comment[sk]=Backend pre GNU Octave
Comment[sl]=Hrbtenica za GNU Octave
Comment[sv]=Ett bakgrundsprogram för GNU Octave
Comment[th]=โปรแกรมเบื้องหลังสำหรับ GNU Octave
Comment[ug]=GNU Octave نىڭ ئارقا ئۇچى
Comment[uk]=Сервер GNU Octave
Comment[x-test]=xxBackend for GNU Octavexx
Comment[zh_CN]=GNU Octave 后端
Comment[zh_TW]=GNU Octave 後端介面
