<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cantor_solve_assistant" version="1">
<MenuBar>
  <Menu name="calculate"><text>&amp;Calculate</text>
    <Action name="solve_assistant"/>
  </Menu>
</MenuBar>
</kpartgui>
