[Desktop Entry]
Type=Service
Icon=dialog-ok
Name=Solve
Name[et]=Lahendaja
Name[pt]=Resolver
Name[pt_BR]=Resolver
Name[sv]=Lös
Name[uk]=Розв’язати
X-KDE-ServiceTypes=MathematiK/Assistant
X-KDE-Library=mathematik_solveassistant
X-KDE-PluginInfo-Name=Solve
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify solving of equations
Comment[en_GB]=An Assistant dialogue to simplify solving of equations
Comment[et]=Võrrandite lahendamist lihtsustav abiline
Comment[pt]=Uma janela assistente que simplifica a resolução de equações
Comment[pt_BR]=Um diálogo de assitente para simplificar a resolução de equações
Comment[sv]=En dialogruta med en guide för att förenkla lösning av ekvationer
Comment[uk]=Діалогове вікно помічника у розв’язанні рівнянь
RequiredExtensions=CASExtension
