[Desktop Entry]
Type=Service
Icon=dialog-ok
Name=Solve
Name[ca]=Resol
Name[en_GB]=Solve
Name[es]=Resolver
Name[et]=Lahendamine
Name[nb]=Løs
Name[nl]=Oplossen
Name[pt]=Resolução
Name[pt_BR]=Resolver
Name[sv]=Lös
Name[tr]=Çöz
Name[uk]=Розв’язати
Name[x-test]=xxSolvexx
Name[zh_TW]=解方程式
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_solveassistant
X-KDE-PluginInfo-Name=Solve
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify solving of equations
Comment[ca]=Un diàleg assistent per simplificar la resolució d'equacions
Comment[en_GB]=An Assistant dialogue to simplify solving of equations
Comment[es]=Un diálogo asistente para simplificar la resolución de ecuaciones
Comment[et]=Võrrandite lahendamist lihtsustav abiline
Comment[nb]=En assistentdialog som gjør det enklere å løse likninger
Comment[nl]=Een assistentdialoog voor het vereenvoudigen van het oplossen van vergelijkingen
Comment[pt]=Uma janela assistente que simplifica a resolução de equações
Comment[pt_BR]=Um diálogo de assistente para simplificar a resolução de equações
Comment[sv]=En dialogruta med en guide för att förenkla lösning av ekvationer
Comment[uk]=Діалогове вікно помічника у розв’язанні рівнянь
Comment[x-test]=xxAn Assistant dialog to simplify solving of equationsxx
Comment[zh_TW]=簡化解方程式的小助手對話框
RequiredExtensions=CASExtension
