[Desktop Entry]
Type=Service
Icon=dialog-ok
Name=Solve
Name[ca]=Resol
Name[pt]=Resolver
Name[pt_BR]=Resolver
Name[uk]=Розв’язати
Name[x-test]=xxSolvexx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_solveassistant
X-KDE-PluginInfo-Name=Solve
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify solving of equations
Comment[ca]=Un diàleg assistent per simplificar la resolució d'equacions
Comment[pt]=Uma janela assistente que simplifica a resolução de equações
Comment[pt_BR]=Um diálogo de assistente para simplificar a resolução de equações
Comment[uk]=Діалогове вікно помічника у розв’язанні рівнянь
Comment[x-test]=xxAn Assistant dialog to simplify solving of equationsxx
RequiredExtensions=CASExtension
