[Desktop Entry]
Type=Service
Icon=luabackend
Name=Lua
Name[de]=Lua
Name[fi]=Lua
Name[nl]=Lua
Name[pl]=Lua
Name[pt]=Lua
Name[pt_BR]=Lua
Name[sk]=Lua
Name[sv]=Lua
Name[uk]=Lua
Name[x-test]=xxLuaxx
Comment=Backend for luajit
Comment[de]=Ein Modul für luajit
Comment[fi]=LuaJITin taustajärjestelmä
Comment[nl]=Een backend voor luajit
Comment[pl]=Silnik dla luajit
Comment[pt]=Infra-Estrutura para o luajit
Comment[pt_BR]=Infraestrutura para o luajit
Comment[sk]=Backend pre luajit
Comment[sv]=Bakgrundsprogram för luajit
Comment[uk]=Модуль для luajit
Comment[x-test]=xxBackend for luajitxx
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_luabackend
X-KDE-PluginInfo-Name=Lua
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://luajit.org
