[Desktop Entry]
Type=Service
Icon=luabackend
Name=Lua
Name[cs]=Lua
Name[da]=Lua
Name[de]=Lua
Name[en_GB]=Lua
Name[es]=Lua
Name[fi]=Lua
Name[fr]=Lua
Name[hu]=Lua
Name[it]=Lua
Name[nds]=Lua
Name[nl]=Lua
Name[pl]=Lua
Name[pt]=Lua
Name[pt_BR]=Lua
Name[sk]=Lua
Name[sl]=Lua
Name[sv]=Lua
Name[te]=లుఅ
Name[uk]=Lua
Name[x-test]=xxLuaxx
Name[zh_TW]=Lua
Comment=Backend for luajit
Comment[cs]=Podpůrná vrstva pro luajit
Comment[da]=Backend til luajit
Comment[de]=Ein Modul für luajit
Comment[en_GB]=Backend for luajit
Comment[es]=Motor para luajit
Comment[fi]=LuaJITin taustajärjestelmä
Comment[fr]=Moteur pour luajit
Comment[hu]=A luajit háttérprogramja
Comment[it]=Backend per luajit
Comment[nds]=En Hülpprogramm för Lua
Comment[nl]=Een backend voor luajit
Comment[pl]=Silnik dla luajit
Comment[pt]=Infra-Estrutura para o luajit
Comment[pt_BR]=Infraestrutura para o luajit
Comment[sk]=Backend pre luajit
Comment[sl]=Zaledje za luajit
Comment[sv]=Bakgrundsprogram för luajit
Comment[te]=లుఅజిట్ బ్యాకెండ్ కొసం
Comment[uk]=Модуль для luajit
Comment[x-test]=xxBackend for luajitxx
Comment[zh_TW]=luajit 後端介面
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_luabackend
X-KDE-PluginInfo-Name=Lua
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://luajit.org
