<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cantor_plot2d_assistant" version="1">
<MenuBar>
  <Menu name="Plot"><text>&amp;Plot</text>
    <Action name="plot2d_assistant"/>
  </Menu>
</MenuBar>
</kpartgui>
