[Desktop Entry]
Type=Service
Name=Plot2d
Name[en_GB]=Plot2d
Name[et]=2Djoonis
Name[pt]=Gráfico2D
Name[pt_BR]=Gráfico em 2D
Name[sv]=Rita i två dimensioner
Name[tr]=2B Çizim
Name[uk]=Plot2d
Name[x-test]=xxPlot2dxx
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_plot2dassistant
X-KDE-PluginInfo-Name=Plot2d
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify plotting of 2D functions
Comment[en_GB]=An Assistant dialogue to simplify plotting of 2D functions
Comment[et]=2D jooniste loomist lihtsustav abiline
Comment[pt]=Uma janela assistente que simplifica o desenho de gráficos de funções em 2D
Comment[pt_BR]=Um diálogo de assistente para simplificar o desenho de gráficos de funções em 2D
Comment[sv]=En dialogruta med en guide för att uppritning av tvådimensionella funktioner
Comment[uk]=Діалогове вікно помічника спрощення побудови графіків на площині
Comment[x-test]=xxAn Assistant dialog to simplify plotting of 2D functionsxx
RequiredExtensions=PlotExtension
