[Desktop Entry]
Type=Service
Name=Plot2d
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_plot2dassistant
X-KDE-PluginInfo-Name=Plot2d
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify plotting of 2D functions
RequiredExtensions=PlotExtension
