[Desktop Entry]
Type=Service
Name=Plot2d
Name[bg]=Plot2d
Name[ca]=Plot2d
Name[ca@valencia]=Plot2d
Name[cs]=Graf2d
Name[da]=Plot2d
Name[de]=Plot2d
Name[el]=Plot2d
Name[en_GB]=Plot2d
Name[es]=Plot2d
Name[et]=2Djoonis
Name[eu]=Marraztu2d
Name[fr]=Point2d
Name[ga]=Plot2d
Name[gl]=Plot2d
Name[hu]=Plot2d
Name[it]=Grafico 2D
Name[ja]=Plot2d
Name[km]=ក្រាហ្វិក​ទ្វេ​មាឌ
Name[lv]=Grafiks 2D
Name[nb]=Plot2d
Name[nds]=2D-Diagramm
Name[nl]=Plot2d
Name[nn]=Plott 2D
Name[pl]=Wykres 2D
Name[pt]=Gráfico2D
Name[pt_BR]=Gráfico em 2D
Name[ru]=График функции
Name[sl]=Nariši v 2D
Name[sv]=Rita i två dimensioner
Name[th]=ลงจุด 2 มิติ
Name[tr]=2B Çizim
Name[uk]=Plot2d
Name[x-test]=xxPlot2dxx
Name[zh_CN]=Plot2d
Name[zh_TW]=繪製平面圖
X-KDE-ServiceTypes=Cantor/Assistant
X-KDE-Library=cantor_plot2dassistant
X-KDE-PluginInfo-Name=Plot2d
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=An Assistant dialog to simplify plotting of 2D functions
Comment[bg]=Помощен прозорец за улесняване чертаенето на двуизмерни функции
Comment[ca]=Un diàleg assistent per simplificar la representació gràfica de funcions 2D
Comment[ca@valencia]=Un diàleg assistent per simplificar la representació gràfica de funcions 2D
Comment[cs]=Pomocný dialog pro zjednodušení vytvoření grafu dvourozměrných funkcí
Comment[da]=En hjælpedialog til at gøre plotning af 2D-funktioner lettere
Comment[de]=Ein Assistent, um das Zeichnen von 2D-Funktionen zu vereinfachen
Comment[el]=Ένα βοηθητικό πλαίσιο διαλόγου για την απλοποίηση της δημιουργίας δισδιάστατων γραφημάτων των συναρτήσεων.
Comment[en_GB]=An Assistant dialogue to simplify plotting of 2D functions
Comment[es]=Un diálogo asistente para simplificar el trazado de funciones 2D
Comment[et]=2D jooniste loomist lihtsustav abiline
Comment[eu]=2D funtzioen marrazketa errazteko elkarrizketa laguntzaile bat
Comment[fr]=Une boîte de dialogue d'assistant simplifiant le tracé de fonctions 2D
Comment[gl]=Un diálogo auxiliar para simplificar a representación de funcións 2D
Comment[it]=Un assistente per semplificare il disegno di funzioni 2D
Comment[ja]=二次曲線をグラフ化を手助けするウィザード
Comment[km]=ប្រអប់​ជំនួយ​ដែល​​ធ្វើ​ឲ្យ​ងាយ​ស្រួល​ដល់​ការ​គូស​ក្រាហ្វិក​អនុគមន៍​ទ្វេ​មាឌ
Comment[lv]=Palīga dialoglogs 2D funkciju zīmēšanas vienkāršošanai
Comment[nb]=En assistentdialog som gjør det enklere å plotte 2D-funksjoner
Comment[nds]=En Hülpdialoog för't Plotten vun 2D-Funkschonen
Comment[nl]=Een assistentdialoog voor het vereenvoudigd tekenen van 2D-functies
Comment[nn]=Eit hjelpevindauge for plotting av 2D-funksjonar
Comment[pl]=Okno dialogowe asystenta pomagające uprościć wykreślanie funkcji 2D
Comment[pt]=Uma janela assistente que simplifica o desenho de gráficos de funções em 2D
Comment[pt_BR]=Um diálogo de assistente para simplificar o desenho de gráficos de funções em 2D
Comment[ru]=Диалоговое окно, упрощающее построение графиков функций
Comment[sl]=Pomočnik, ki poenostavi risanje 2D funkcij
Comment[sv]=En dialogruta med guide för att förenkla uppritning av tvådimensionella funktioner
Comment[tr]=2 boyutlu fonksiyonları çizdirmeyi kolaylaştıran yardımcı pencere
Comment[uk]=Діалогове вікно помічника спрощення побудови графіків на площині
Comment[x-test]=xxAn Assistant dialog to simplify plotting of 2D functionsxx
Comment[zh_CN]=用于简化二维函数图绘制的助手对话框
Comment[zh_TW]=簡化繪製二維函式小助手對話框
RequiredExtensions=PlotExtension
