[Desktop Entry]
Name=Cantor
Name[ca]=Cantor
Name[ca@valencia]=Cantor
Name[da]=Cantor
Name[de]=Cantor
Name[el]=Cantor
Name[en_GB]=Cantor
Name[eo]=Cantor
Name[es]=Cantor
Name[et]=Cantor
Name[fr]=Cantor
Name[gl]=Cantor
Name[hr]=Cantor
Name[it]=Cantor
Name[lv]=Cantor
Name[nb]=Cantor
Name[nds]=Cantor
Name[nl]=Cantor
Name[nn]=Cantor
Name[pa]=ਕਨਟੁਰ
Name[pt]=Cantor
Name[pt_BR]=Cantor
Name[ru]=Cantor
Name[sv]=Cantor
Name[tr]=Cantor
Name[uk]=Cantor
Name[x-test]=xxCantorxx
Name[zh_CN]=Cantor
Name[zh_TW]=Cantor
Exec=cantor %i -caption "%c"
Icon=cantor
Type=Application
X-DocPath=cantor/index.html
GenericName=KDE Frontend to Mathematical Software
GenericName[da]=KDE-brugerflade til matematisk software
GenericName[de]=Eine KDE-Oberfläche für mathematische Software
GenericName[el]=Περιβάλλον του KDE για μαθηματικό λογισμικό
GenericName[en_GB]=KDE Frontend to Mathematical Software
GenericName[es]=Motor de KDE para software matemático
GenericName[et]=KDE matemaatikatarkvara kasutajaliides
GenericName[gl]=Interface de KDE de software matemático
GenericName[hr]=KDE sučelje za matematički softver
GenericName[it]=Interfaccia KDE per software matematico
GenericName[nb]=KDE grensesnitt mot matematisk programvare
GenericName[nds]=KDE-Böversiet för Rekenprogrammen
GenericName[nl]=KDE-frontend tot wiskundige software
GenericName[pt]=Interface para o KDE de Aplicações Matemáticas
GenericName[pt_BR]=Interface do KDE para software matemático
GenericName[sv]=KDE-gränssnitt till matematisk programvara
GenericName[uk]=Графічна оболонка KDE до математичного програмного забезпечення
GenericName[x-test]=xxKDE Frontend to Mathematical Softwarexx
GenericName[zh_CN]=数学软件的 KDE 前端
GenericName[zh_TW]=KDE 數學軟體的前端介面
Terminal=false
Categories=Qt;KDE;Education;Math;
MimeType=application/x-cantor;
