[Desktop Entry]
Name=CantorPart
Name[ca]=CantorPart
Name[ca@valencia]=CantorPart
Name[da]=CantorPart
Name[de]=CantorPart
Name[el]=Τμήμα Cantor
Name[en_GB]=CantorPart
Name[es]=CantorPart
Name[et]=Cantori komponent
Name[fr]=CantorPart
Name[gl]=CantorPart
Name[it]=CantorPart
Name[ja]=Cantor パーツ
Name[km]=CantorPart
Name[lv]=CantorPart
Name[nb]=CantorPart
Name[nds]=Cantor-Komponent
Name[nl]=CantorPart
Name[nn]=Cantor-del
Name[pt]=CantorPart
Name[pt_BR]=CantorPart
Name[ru]=Компонент Cantor
Name[sv]=Cantor-delprogram
Name[tr]=CantorPart
Name[uk]=CantorPart
Name[x-test]=xxCantorPartxx
Name[zh_CN]=Cantor 组件
Name[zh_TW]=Cantor 部件
MimeType=application/x-cantor;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libcantorpart
Type=Service
