<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cantor_part" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="file_save"/>
    <Action name="file_save_as"/>
    <Action name="file_publish_worksheet"/>
    <Separator/>
    <Action name="file_print"/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="view_zoom_in"/>
    <Action name="view_zoom_out"/>
    <Action name="show_editor"/>
  </Menu>
  <Menu name="settings">
    <Action name="enable_typesetting"/>
    <Action name="enable_highlighting"/>
    <Action name="enable_completion"/>
    <Action name="enable_expression_numbers"/>
  </Menu>
  <Menu name="worksheet"><text>&amp;Worksheet</text>
    <Action name="evaluate_worksheet"/>
    <Action name="evaluate_current"/>
    <Action name="insert_entry"/>
    <Action name="remove_current"/>
  </Menu>
  <Menu name="help">
    <Action name="backend_help"/>
  </Menu>
  <Merge/>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_open"/>
  <Action name="file_save"/>
  <Action name="file_print"/>
  <Action name="evaluate_worksheet"/>
  <Action name="restart_backend"/>
  <Action name="backend_help"/>
  <Separator/>
</ToolBar>
</kpartgui>
