[Desktop Entry]
Name=CantorPart
Name[bs]=Cantor dio
Name[ca]=CantorPart
Name[ca@valencia]=CantorPart
Name[cs]=CantorPart
Name[da]=CantorPart
Name[de]=CantorPart
Name[el]=ΤμήμαCantor
Name[en_GB]=CantorPart
Name[es]=CantorPart
Name[et]=Cantori komponent
Name[fi]=CantorPart
Name[fr]=Module Cantor
Name[ga]=Comhpháirt Cantor
Name[gl]=CantorPart
Name[hu]=CantorPart
Name[it]=CantorPart
Name[ja]=Cantor パーツ
Name[kk]=CantorPart
Name[km]=CantorPart
Name[ko]=CantorPart
Name[lv]=CantorPart
Name[nb]=CantorPart
Name[nds]=Cantor-Komponent
Name[nl]=CantorPart
Name[nn]=Cantor-del
Name[pa]=CantorPart
Name[pl]=ModułCantor
Name[pt]=CantorPart
Name[pt_BR]=CantorPart
Name[ru]=Компонент Cantor
Name[sk]=CantorPart
Name[sl]=CantorPart
Name[sv]=Cantor-delprogram
Name[te]=కంటొర్ భగం
Name[tr]=CantorPart
Name[ug]=CantorPart
Name[uk]=CantorPart
Name[x-test]=xxCantorPartxx
Name[zh_CN]=Cantor 组件
Name[zh_TW]=Cantor 部件
MimeType=application/x-cantor;
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libcantorpart
Type=Service
