<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cantor_part" version="1">
<MenuBar>
  <Menu name="file">
    <Action name="file_save"/>
    <Action name="file_save_as"/>
    <Action name="file_export_latex"/>
    <Action name="file_publish_worksheet"/>
    <Separator/>
    <Action name="file_print"/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Action name="view_zoom_in"/>
    <Action name="view_zoom_out"/>
    <Action name="show_editor"/>
  </Menu>
  <Menu name="settings">
    <Action name="enable_typesetting"/>
    <Action name="enable_highlighting"/>
    <Action name="enable_completion"/>
    <Action name="enable_expression_numbers"/>
  </Menu>
  <Menu name="worksheet"><text>&amp;Worksheet</text>
    <Action name="evaluate_worksheet"/>
    <Action name="evaluate_current"/>
    <Action name="insert_command_entry"/>
    <Action name="insert_text_entry"/>
    <Action name="insert_image_entry"/>
    <Action name="insert_page_break_entry"/>
    <!--<Action name="insert_command_entry_before"/>-->
    <!--<Action name="insert_text_entry_before"/>-->
    <!--<Action name="insert_image_entry_before"/>-->
    <!--<Action name="insert_page_break_entry_before"/>-->
    <Action name="remove_current"/>
  </Menu>
  <Menu name="help">
    <Action name="backend_help"/>
  </Menu>
  <Merge/>
</MenuBar>
<ToolBar name="mainToolBar">
  <Action name="file_open"/>
  <Action name="file_save"/>
  <Action name="file_print"/>
  <Action name="evaluate_worksheet"/>
  <Action name="restart_backend"/>
  <Action name="backend_help"/>
  <Separator/>
</ToolBar>
<ToolBar noMerge="1" name="textEditToolBar">
  <Separator/>
  <Action name="format_text_bold"/>
  <Action name="format_text_italic"/>
  <Action name="format_text_underline"/>
  <Action name="format_text_strikeout"/>
  <Action name="format_text_foreground_color"/>
  <Action name="format_text_background_color"/>
  <Separator/>
  <Action name="format_font_family"/>
  <Action name="format_font_size"/>
  <Separator/>
  <Action name="format_align_left"/>
  <Action name="format_align_center"/>
  <Action name="format_align_right"/>
  <Action name="format_align_justify"/>
  <Action name="format_list_style"/>
  <Action name="format_list_indent_more"/>
  <Action name="format_list_indent_less"/>
  <Separator/>
</ToolBar>
</kpartgui>
