[Desktop Entry]
Name=CantorPart
Name[ca]=CantorPart
Name[en_GB]=CantorPart
Name[es]=CantorPart
Name[et]=Cantori komponent
Name[nb]=CantorPart
Name[nl]=CantorPart
Name[pt]=CantorPart
Name[pt_BR]=CantorPart
Name[sv]=Cantor-delprogram
Name[uk]=CantorPart
Name[x-test]=xxCantorPartxx
MimeType=application/x-cantor
ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart
X-KDE-Library=libcantorpart
Type=Service
