<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="cantor_shell" version="1">
<MenuBar>
  <Menu name="file"><text>&amp;File</text>
    <Action name="file_new"/>
    <Action name="file_open"/>
    <Action name="file_example_download"/>
    <Action name="file_example_open"/>
    <Separator/>
    <Merge/>
    <Separator/>
    <Action name="file_close"/>
    <Action name="file_quit"/>
  </Menu>
  <Menu name="view"><text>&amp;View</text>
    <Merge/>
    <Menu name="panels"><text>Panels</text>
      <ActionList name="view_show_panel_list" />
    </Menu>
  </Menu>
  <Menu  name="settings"><text>&amp;Settings</text>
    <Action name="options_show_toolbar"/>
    <Action name="options_show_statusbar"/>
    <Merge name="show_merge"/>
    <Separator/>
    <Action name="options_configure_keybindings"/>
    <Action name="options_configure_toolbars"/>
    <Action name="options_configure"/>
    <Merge name="configure_merge"/>
    <Separator/>
    <Merge/>
  </Menu>
  <Merge/>
  <Menu name="help">
    <Merge />
  </Menu>
</MenuBar>
<ToolBar name="mainToolBar"><text>Main Toolbar</text>
  <Action name="file_new"/>
  <Merge/>
</ToolBar>
</kpartgui>
