[Desktop Entry]
Name=MathematiK
Exec=mathematik %i -caption "%c"
Icon=mathematik
Type=Application
X-DocPath=mathematik/index.html
GenericName=KDE Frontend to Mathematical Software.
Terminal=false
Categories=Qt;KDE;Education;Math;
