[Desktop Entry]
Type=Service
Name=Qalculate
Name[es]=Qalculate
Name[pt]=Qalculate
Name[sv]=Qalculate
Name[uk]=Qalculate
Name[x-test]=xxQalculatexx
Icon=qalculatebackend
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_qalculatebackend
X-KDE-PluginInfo-Name=qalculatebackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://qalculate.sourceforge.net/
Comment=Qalculate backend for Cantor. Gives you the advanced features of Qalculate
Comment[es]=Motor Qalculate para Cantor. Le proporciona las características avanzadas de Qalculate
Comment[pt]=Infra-estrutura do Qalculate para o Cantor. Dá-lhe as funcionalidades avançadas do Qalculate
Comment[sv]=Bakgrundsprogrammet Qalculate förr Cantor. Ger tillgång till de avancerade funktionerna i Qalculate.
Comment[uk]=Сервер Qalculate для Cantor. Надає до ваших послуг додаткові можливості Qalculate
Comment[x-test]=xxQalculate backend for Cantor. Gives you the advanced features of Qalculatexx
