[Desktop Entry]
Type=Service
Name=Qalculate
Name[ca]=Qalculate
Name[da]=Qalculate
Name[de]=Qalculate
Name[es]=Qalculate
Name[et]=Qalculate
Name[ga]=Qalculate
Name[hu]=Qalculate
Name[it]=Qalculate
Name[kk]=Qalculate
Name[nb]=Qalculate
Name[nds]=Qalculate
Name[nl]=Qalculate
Name[pt]=Qalculate
Name[pt_BR]=Qalculate
Name[sv]=Qalculate
Name[uk]=Qalculate
Name[x-test]=xxQalculatexx
Name[zh_CN]=Qalculate
Name[zh_TW]=Qalculate
Icon=qalculatebackend
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_qalculatebackend
X-KDE-PluginInfo-Name=qalculatebackend
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Website=http://qalculate.sourceforge.net/
Comment=Qalculate backend for Cantor. Gives you the advanced features of Qalculate
Comment[ca]=Dorsal de Qalculate per al Cantor. Us ofereix les característiques avançades de Qalculate
Comment[da]=Qalculate-backend til Cantor. Giver dig Qalculates avancerede funktioner
Comment[de]=Qalculate-Modul für Cantor. Ermöglicht die Nutzung der weiterführenden Funktionen von Qalculate
Comment[es]=Motor Qalculate para Cantor. Le proporciona las características avanzadas de Qalculate
Comment[et]=Cantori Qalculate'i taustaprogramm. Tagab Qalculate'i enamiku omaduste kasutamise.
Comment[hu]=Qalculate modul a Cantorhoz.
Comment[it]=Backend Cantor per Qalculate. Ti da' la possibilità di usare le funzionalità avanzate di Qalculate
Comment[nb]=Qalculate bakgrunnsmotor for Cantor, gir de avanserte funksjonene i Qalculate
Comment[nds]=Qalculate-Hülpprogramm för Cantor. Stellt verwiedert Funkschonen vun Qalculate praat.
Comment[nl]=Qalculate-backend voor Cantor. Geeft u de geavanceerde features van Qalculate
Comment[pt]=Infra-estrutura do Qalculate para o Cantor. Dá-lhe as funcionalidades avançadas do Qalculate
Comment[pt_BR]=Infraestrutura do Qalculate para o Cantor. Fornece-lhe as funcionalidades avançadas do Qalculate
Comment[sv]=Bakgrundsprogrammet Qalculate förr Cantor. Ger tillgång till de avancerade funktionerna i Qalculate.
Comment[uk]=Сервер Qalculate для Cantor. Надає до ваших послуг додаткові можливості Qalculate
Comment[x-test]=xxQalculate backend for Cantor. Gives you the advanced features of Qalculatexx
Comment[zh_CN]=Qalculate 的 Cantor 后端，可以使用 Qalculate 的高级功能
Comment[zh_TW]=Cantor 的 Qalculate 後端介面。讓您使用 Qalculate 的進階功能
