[Desktop Entry]
Type=Service
Icon=pythonbackend
Name=Python3
Name[bs]=Python3
Name[ca]=Python3
Name[ca@valencia]=Python3
Name[cs]=Python3
Name[da]=Python3
Name[de]=Python3
Name[el]=Python3
Name[en_GB]=Python3
Name[es]=Python3
Name[et]=Python3
Name[fi]=Python3
Name[fr]=Python3
Name[gl]=Python3
Name[hu]=Python3
Name[it]=Python3
Name[kk]=Python3
Name[ko]=Python3
Name[nb]=Python3
Name[nds]=Python3
Name[nl]=Python3
Name[pl]=Python3
Name[pt]=Python3
Name[pt_BR]=Python3
Name[ru]=Python3
Name[sk]=Python3
Name[sl]=Python3
Name[sv]=Python 3
Name[te]=ప్యితన్3
Name[tr]=Python3
Name[uk]=Python3
Name[x-test]=xxPython3xx
Name[zh_TW]=Python3
X-KDE-PluginInfo-Website=http://python.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_python3backend
X-KDE-PluginInfo-Name=Python3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Python 3 Scientific Programming
Comment[bs]=Pozadina za Python 3 naučno programiranje
Comment[ca]=Dorsal per a la programació científica Python3
Comment[ca@valencia]=Dorsal per a la programació científica Python3
Comment[cs]=Podpůrná vrstva pro vědecké programovací v Python 3
Comment[da]=Backend til videnskabelige programmering med Python 3
Comment[de]=Modul für die wissenschaftliche Programmierumgebung Python 3
Comment[el]=Σύστημα υποστήριξης για το επιστημονικό προγραμματιστικό περιβάλλον Python 3
Comment[en_GB]=Backend for Python 3 Scientific Programming
Comment[es]=Motor para programación científica en Python 3
Comment[et]=Python3 teadusliku programmeerimise taustaprogramm
Comment[fi]=Python3-pohjaisen tieteellisen ohjelmointiympäristön taustajärjestelmä
Comment[fr]=Moteur pour la programmation scientifique Python 3
Comment[gl]=Infraestrutura para o programación científica con Python 3
Comment[hu]=Háttérprogram a Python 3 tudományos programozáshoz
Comment[it]=Backend per l'ambiente scientifico di programmazione Python 3
Comment[kk]=Python 3 ғылыми программалау тетігі
Comment[ko]=파이썬 3 과학 프로그래밍 백엔드
Comment[nb]=Bakgrunnsmotor for  Python 3 Scientific Programming
Comment[nds]=Hülpprogramm för't Schrieven vun wetenschaplich Programmen mit Python3
Comment[nl]=Backend voor wetenschappelijke programmeeromgeving Python 3
Comment[pl]=Silnika dla naukowego środowiska programistycznego Python 3
Comment[pt]=Infra-Estrutura de Programação Científica com Python 3
Comment[pt_BR]=Infraestrutura de programação científica Python 3
Comment[ru]=Поддержка языка Python 3 и инженерных и научных расчётов на нём
Comment[sk]=Backend pre vedecké programovanie Python 3
Comment[sl]=Zaledje za znanstveno programersko okolje Python 3
Comment[sv]=Bakgrundsprogram för Python 3 vetenskaplig programmeringsmiljö
Comment[tr]=Python 3 Bilimsel Programlama için arka uç
Comment[uk]=Модуль наукового програмування мовою Python 3
Comment[x-test]=xxBackend for Python 3 Scientific Programmingxx
Comment[zh_TW]=Python 3 科學程式環境的後端介面