[Desktop Entry]
Type=Service
Icon=pythonbackend
Name=Python 3
Name[ca]=Python 3
Name[cs]=Python 3
Name[de]=Python 3
Name[en_GB]=Python 3
Name[es]=Python 3
Name[fi]=Python 3
Name[fr]=Python 3
Name[it]=Python 3
Name[nl]=Python 3
Name[pl]=Python 3
Name[pt]=Python 3
Name[pt_BR]=Python 3
Name[ru]=Python 3
Name[sk]=Python 3
Name[sl]=Python 3
Name[sv]=Python 3
Name[uk]=Python 3
Name[x-test]=xxPython 3xx
Name[zh_TW]=Python 3
X-KDE-PluginInfo-Website=http://python.org/
X-KDE-ServiceTypes=Cantor/Backend
X-KDE-Library=cantor_python3backend
X-KDE-PluginInfo-Name=Python 3
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
Comment=Backend for Python 3 Scientific Programming
Comment[ca]=Dorsal per a la programació científica Python 3
Comment[cs]=Podpůrná vrstva pro vědecké programovací v Python 3
Comment[de]=Modul für die wissenschaftliche Programmierumgebung Python 3
Comment[en_GB]=Backend for Python 3 Scientific Programming
Comment[es]=Motor para programación científica en Python 3
Comment[fi]=Python 3 -pohjaisen tieteellisen ohjelmointiympäristön taustajärjestelmä
Comment[fr]=Moteur pour la programmation scientifique Python 3
Comment[it]=Backend per l'ambiente scientifico di programmazione Python 3
Comment[nl]=Backend voor wetenschappelijke programmeeromgeving Python 3
Comment[pl]=Silnika dla naukowego środowiska programistycznego Python 3
Comment[pt]=Infra-Estrutura de Programação Científica com Python 3
Comment[pt_BR]=Infraestrutura de programação científica Python 3
Comment[ru]=Поддержка языка Python 3 и инженерных и научных расчётов на нём
Comment[sk]=Backend pre vedecké programovanie Python 3
Comment[sl]=Zaledje za znanstveno programersko okolje Python 3
Comment[sv]=Bakgrundsprogram för Python 3 vetenskaplig programmeringsmiljö
Comment[uk]=Модуль наукового програмування мовою Python 3
Comment[x-test]=xxBackend for Python 3 Scientific Programmingxx
Comment[zh_TW]=Python 3 科學程式環境的後端介面
